.gray-top-border {
  border-top: 1px solid dimgray;
}

.small-row {
  line-height: 1;
}

.no-padding-top {
  padding-top: 0;
}

.no-padding {
  padding: 0;
}

.no-border {
  border: none;
}

.centered-vertical {
  text-align: center;
  vertical-align: middle;
}
