:host {
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: center;
  align-items: center;
  align-content: center;
  flex-wrap: nowrap;

  * {
    flex: 1
  }
}

.vertical-line, .transparent-vertical-line {
  margin-left: auto;
  margin-right: auto;
  min-width: 1%;
  max-width: 1%;
  min-height: 50%;
  z-index: 0;
  position: relative;
  height: 50%;
}

.vertical-line {
  border-right: 3px solid #007c82;
}

.transparent-vertical-line {
  border-right: 0;
}
