.verticalLine, .transparentVerticalLine {
  margin-left: auto;
  margin-right: auto;
  min-width: 1%;
  max-width: 1%;
  max-height: 50%;
  min-height: 50%;
  z-index: 0;
  position: relative;
  height: 50%;
}

.verticalLine {
  border-right: 3px solid #0e6f76;
}

.transparentVerticalLine {
  border-right: 0;
}

/*!*!* NEEDED FOR SAFARI BROWSER*!*/
/*@supports (-webkit-hyphens:none) {*/
/*  .verticalLine, .transparentVerticalLine {*/
/*    max-height: 23px; !* mendatory for safari *!*/
/*    min-height: 23px; !* mendatory for safari *!*/
/*    margin-top: -10px;*/
/*    !*margin-bottom: 29px;*!*/
/*  }*/
/*}*/


/*!* NEEDED FOR FIREFOX BROWSER*!*/
/*@-moz-document url-prefix() {*/
/*  .verticalLine, .transparentVerticalLine {*/
/*    max-height: 100% !important; !* gives the priority to the firefox setting *!*/
/*    min-height: 100% !important; !* gives the priority to the firefox setting *!*/
/*    margin-top: -29px;*/
/*  }*/
/*}*/
