.verticalLine, .transparentVerticalLine {
  margin-left: auto;
  margin-right: auto;
  min-width: 1%;
  max-width: 1%;
  max-height: 80%;
  min-height: 80%;
  z-index: 0;
}

.verticalLine {
  border-right: 3px solid #0e6f76;
}

.transparentVerticalLine {
  border-right: 0;
}
