@if (isDataLoaded) {
  <div class="row">
    <div class="columns medium-12 margin-top-medium no-pad-left">
      <h3>Further Reading</h3>
      <table class="hover">
        <thead>
          <th>Identifier</th>
          <th>Title</th>
          <th>Author(s)</th>
        </thead>
        <tbody>
          @for (publication of publications; track publication.id) {
            <tr>
              <td><a href="{{publication.url}}" target="_blank">{{publication.id}} <i class="icon icon-generic small" data-icon="x"></i></a></td>
              <td>{{publication.title}}</td>
              <td>{{publication.authors}}</td>
            </tr>
          }
        </tbody>
      </table>
    </div>
  </div>
}
