<footer id="local-footer" class="local-footer" role="local-footer">
  <div class="row margin-top-medium">
    <div id="contributors" class="margin-top-large" style="text-align: center">
      <h4><p class="icon icon-generic" data-icon="}"> Our Contributors</p></h4>
    </div>

    <div class="columns">

      <div style="text-align: center">
        <a href="//www.ceitec.eu" target="_blank">
          <img src="assets/images/contributors/Ceitec.png" alt="CEITEC">
        </a>
        <a href="//www.evidenceontology.org/" target="_blank">
          <img src="assets/images/contributors/eco.png" alt="eco">
        </a>
        <a href="//www.ucl.ac.uk/functional-gene-annotation/cardiovascular" target="_blank">
          <img src="assets/images/contributors/imex_acg_s.png" alt="ACG">
        </a>
        <a href="http://matrixdb.univ-lyon1.fr" target="_blank">
          <img src="assets/images/contributors/matrixdb.png" alt="matrixDB">
        </a>
        <a href="//mint.bio.uniroma2.it" target="_blank">
          <img src="assets/images/contributors/Mint.png" alt="Mint">
        </a>
        <a href="//www.ebi.ac.uk/pdbe/" target="_blank">
          <img src="assets/images/contributors/PDBe.png" alt="PDBe">
        </a>
        <a href="//www.yeastgenome.org" target="_blank">
          <img src="assets/images/contributors/SGD.png" alt="SGD">
        </a>
        <a href="//www.sib.swiss" target="_blank">
          <img src="assets/images/contributors/sib.png" alt="SIB">
        </a>
        <a href="//www.uniprot.org" target="_blank">
          <img src="assets/images/contributors/uniprot.png" alt="UniProt">
        </a>
        <a href="//www.flybase.org" target="_blank">
          <img src="assets/images/contributors/flybase.png" alt="FlyBase">
        </a>
        <a href="//www.rappsilberlab.org/" target="_blank">
          <img src="assets/images/contributors/rap_lab_text_logo.png" alt="RAPPSILBER">
        </a>
      </div>

      <div class="label secondary-color float-right">{{version}}-{{environmentName}}</div>
    </div>
  </div>
</footer>
