#networkContainer{
  background: #fbfbfb;
  flex: auto;
  display: flex;
  min-height: 600px;
  min-width: 0;
}

.complexViewerSVG {
  flex: auto;
  min-height: 0;
  min-width: 0;
}

/* Styling of right click menu in the viewer */
.protein {
  cursor: crosshair;
}

/*you need this to stop horrible looking flickering of text as you drag*/
svg {
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -o-user-select: none;
  user-select: none;
}

.custom-menu-margin {
  padding: 20px;
  display: none;
  z-index: 10000;
  position: absolute;
}

.custom-menu {
  overflow: hidden;
  border: 1px solid #CCC;
  white-space: nowrap;
  background: #FFF;
  color: #333;
  list-style: none;
  padding: 0;
  margin: 0;
  pointer-events: all;
}

.custom-menu ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.custom-menu li {
  padding: 8px 12px;
  cursor: default;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -o-user-select: none;
  user-select: none;
}

.custom-menu input {
  cursor: pointer;
}
.custom-menu li:hover {
  background-color: #DEF;
}

.custom-menu li:nth-child(1) {
  cursor: pointer;
}

.custom-menu li:nth-child(2) {
  display: flex;
  flex-direction: row;
}

.barScale {
  display: inline;
  padding-left: 10px;
}

.barScale label {
  display: unset;
}

.barScale label > [type='checkbox'], label > [type='radio'] {
  margin-right: 0.5rem;
  margin-left: 0.25rem;
  margin-bottom: 0;
}

.tooltip[display="none"] {
  display: none;
}

text.label {
  font-size: 10pt;
  /* font-weight: bold; */
  /* color: #fff; */
  /* text-shadow: white 0px 0px 1px; */
  -webkit-font-smoothing: antialiased;
  text-shadow: -1px -1px 0 white, 1px -1px 0 white, -1px 1px 0 white, 1px 1px 0 white;
  fill: black;
  text-anchor: end;
  opacity: 100%;
}

text.tooltip {
  text-anchor: start;
}

.annotations{
  border-right: 1px solid transparent;
}

.button-group input{
  display: none;
}
