<div class="row" *ngIf="participants">
  <h2 class="float-left">Participants</h2>
  <cp-go-to class="float-right" [sectionName]="'Participants'"></cp-go-to>
  <div class="columns medium-12 no-pad-right no-pad-left">
    <div class="columns medium-6 no-pad-right">
      <!-- complex viewer -->
      <div class="row button-grid small-up-12 medium-up-12 large-up-12" data-equalizer
           data-equalize-on="medium" id="large-button-grid">
        <div class="columns medium-12 no-pad-left margin-bottom-xlarge">
          <div *ngIf="complexMIJSON" (click)="interactedWithViewer()" id="networkContainer"></div>

          <div class="small expanded button-group margin-bottom-none">
            <div class="columns small-6 medium-3 no-pad-left no-pad-right annotations">
              <input type="checkbox" #features id="mifeatures" name="mifeatures" value="MI Features" checked
                     autocomplete="off"
                     (change)="onChangeAnnotation('MI Features')">
              <label [ngClass]="{'icon icon-common icon-spacer icon-check': features.checked == true,
                         'hollow': features.checked == false}"
                     class="button expanded" for="mifeatures">MI Features</label>
            </div>
            <div class="columns small-6 medium-3 no-pad-left no-pad-right annotations">
              <input type="checkbox" #uniprot id="uniprotkb" name="uniprotkb" value="UniprotKB"
                     autocomplete="off"
                     (change)="onChangeAnnotation('UniprotKB')">
              <label [ngClass]="{'icon icon-common icon-spacer icon-check ': uniprot.checked == true,
                         'hollow': uniprot.checked == false}"
                     class="button expanded" for="uniprotkb">Uniprot Features</label>
            </div>
            <div class="columns small-6 medium-3 no-pad-left no-pad-right annotations">
              <input type="checkbox" #superfamily id="superfamily" name="superfamily" value="Superfamily"
                     autocomplete="off"
                     (change)="onChangeAnnotation('Superfamily')">
              <label [ngClass]="{'icon icon-common icon-spacer icon-check ': superfamily.checked == true,
                         'hollow': superfamily.checked == false}"
                     class="button expanded" for="superfamily">SuperFamily</label>
            </div>
            <div class="columns small-6 medium-3 no-pad-left no-pad-right annotations">
              <input type="checkbox" #annotations id="interactor" name="interactor" value="Interactor"
                     autocomplete="off" checked
                     (change)="onChangeAnnotation('Interactor')">
              <label [ngClass]="{'icon icon-common icon-spacer icon-check ': annotations.checked == true,
                         'hollow': annotations.checked == false}"
                     class="button expanded" for="interactor">Proteins</label>
            </div>
          </div>
          <div class="small expanded button-group">
            <div class="columns small-6 medium-3 no-pad-left no-pad-right">
              <a class="button secondary" (click)="onExpandAll()">Expand All</a>
            </div>
            <div class="columns small-6 medium-3 no-pad-left no-pad-right">
              <a class="button secondary" (click)="onReset()">Collapse all</a>
            </div>
            <div class="columns small-6 medium-3 no-pad-left no-pad-right">
              <a class="button secondary" (click)="resetLayout()">Reset Layout</a>
            </div>
            <div class="columns small-6 medium-3 no-pad-left no-pad-right">
              <a class="button secondary" (click)="downloadAsSVG()">Export SVG</a>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="columns medium-6 no-pad-right">
      <table class="hover">
        <thead>
        <th>Legend</th>
        <th>Description</th>
        <th>Stoichiometry</th>
        </thead>
        <tbody>
        <tr *ngFor="let participant of participants | slice:0:displayedElements">
          <td style="background-color: #daf1e7">
            <div class="columns medium-12" style="text-align: center; vertical-align: middle;">
              <cp-node-diagram [shape]="getLegendShape(participant.interactorType)"
                               [color]="getLegendColor(participant)"
                               [height]="participant.interactorType === 'stable complex' ? '35pt' : '30pt'"
                               [borderColor]="participant.interactorType === 'stable complex' ? '#ffffff' : '#000000'"
                               [borderWidth]="participant.interactorType === 'stable complex' ? 8 : 3"
              ></cp-node-diagram>
            </div>
          </td>
          <td>
            <div class="columns medium-12 no-pad-right no-pad-left"><b>{{participant.interactorType}} -
              {{participant.name}} ({{participant.bioRole}})</b>
            </div>
            <div class="columns medium-12 no-pad-right no-pad-left">
              <a *ngIf="participant.identifierLink" href="{{participant.identifierLink}}"
                 target="_blank">{{participant.identifier}}
                <i class="icon icon-generic small" data-icon="x"></i>
              </a>
            </div>
            <div class="columns medium-12 no-pad-right no-pad-left">{{participant.description}}</div>
          </td>
          <td>
            <div class="columns medium-12" style="text-align: center; vertical-align: middle;">
              <p class="badge" *ngIf="participant.stochiometry">
                {{getConvertedStochiometry(participant.stochiometry)}}</p>
            </div>
          </td>
        </tr>
        <tr class="text-center" style="background: white" *ngIf="displayedElements < participants.length">
          <td>
            <!--empty placeholder-->
          </td>
          <td>
            <a class="label" (click)="displayedElements = participants.length">Show all</a>
          </td>
          <td>
            <!--empty placeholder-->
          </td>
        </tr>
        </tbody>
      </table>
    </div>


  </div>


</div>
