a {
  font-weight: bold;
}

a, a:visited {
  color: #0e6f76;
}

i:not(.small) {
  font-size: medium;
}

.name-and-icons-container {
  font-size: 14px;
  display: flex;
  width: inherit;
  justify-content: flex-end;
}

.inline-display {
  width: 100%;
  justify-content: space-between;
}

.name {
  width: inherit;
  text-overflow: ellipsis;
  overflow: hidden;
  text-wrap: nowrap;
  text-align: end;
  padding-right: 5px;
}

.name-compact {
  display: inline-flex;
  width: -webkit-fill-available;
}

.evenly-spaced {
  max-width: 90%;
  display: inline-flex;
  justify-content: flex-end;
  text-overflow: ellipsis;
}

.ortholog-group {
  width: 47%;
  text-align: left
}

.organism-image {
  width: 16px;
  height: 24px;
  color: var(--primary);
  background-color: var(--primary);
}
