a {
  font-weight: bold;
}

a, a:visited {
  color: #0e6f76;
}

i:not(.small) {
  font-size: medium;
}

.nameAndIcons {
  font-size: 14px;
  display: flex;
  width: inherit;
  justify-content: space-between;
}

.externalLinkContainer {
  display: inline-flex;
  justify-content: end;
  grid-gap: 5px;
  font-size: 14px;
}

.inlineDisplay {
  display: -webkit-box;
  width: 130%
}

.name {
  width: 50%;
  text-overflow: ellipsis;
  overflow: hidden;
  text-wrap: nowrap;
  text-align: center;
}

.inlineDisplayName {
  width: 65%;
}
