a {
  font-weight: bold;
}

a, a:visited {
  color: #0e6f76;
}

i:not(.small) {
  font-size: medium;
}

.nameAndIcons {
  font-size: 14px;
  display: flex;
  width: inherit;
  justify-content: flex-end;
}

.inlineDisplay {
  display: flex;
  justify-content: flex-end;
}

.name {
  width: inherit;
  text-overflow: ellipsis;
  overflow: hidden;
  text-wrap: nowrap;
  text-align: end;
  padding-right: 5px;
}

.nameCompact {
  display: inline-flex;
  width: -webkit-fill-available;
}

.evenlySpaced {
  justify-content: space-around;
}

.orthologGroup {
  width: 50%;
  text-align: left
}
