table {
  background-color: #e6e6e6;
  text-align: center;
  color: #0a0a0a;
}

table th {
  background-color: #389198;
}

table, th, td {
  border: 1px solid black;
}

.Complex-navigator {
  position: relative;
  width:100%;
  z-index: 1;
  margin: auto;
  overflow: auto;
  height: 350px;
}

.Complex-navigator th {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
}

th:first-child, td:first-child {
  position: -webkit-sticky;
  position: sticky;
  left: 0;
  z-index: 2;
  background-color: #b7b8b8;
}

.ComplexNameSpan{
  visibility: hidden;
  background-color: #b7b8b8;
  color: #0a0a0a;
  text-align: center;
  padding: 5px;
  position: absolute;
  border: 1px solid black;
}

.complexInTable:hover .ComplexNameSpan{
  visibility: visible;
}
