<div class="row">
  <div class="columns medium-12">
    <h3>Synonyms ({{synonyms.length}})</h3>
    <table class="hover">
      <tbody>
      <tr *ngFor="let synonym of synonyms | slice:0:displayedElements">
        <td>
          {{synonym}}
        </td>
      </tr>
      <tr class="text-center"  style="background: white" *ngIf="displayedElements < synonyms.length">
        <td>
          <a class="label" (click)="displayedElements = synonyms.length">Show all</a>
        </td>
      </tr>
      </tbody>
    </table>
  </div>
</div>
