@if (hasFunction) {
  <div class="row no-pad-left no-pad-right">
    <div class="columns medium-12 no-pad-left no-pad-right">
      <div class="columns medium-12 clearfix no-pad-left">
        <h2 class="float-left">Function</h2>
        <cp-go-to class="float-right" [sectionName]="'Function'"></cp-go-to>
      </div>
      @if (functionDescription && functionDescription.length > 0) {
        <div id="description" class="columns medium-12 no-pad-left">
          <p>{{functionDescription}}</p>
        </div>
      }
      @if ((intenzXRefs && intenzXRefs.length > 0) || (rheaXRefs && rheaXRefs.length > 0)) {
        <div id="catalyticActivity"
          class="columns medium-12 no-pad-left"
          >
          <cp-catalytic-activity [intenzCrossReferences]="intenzXRefs" [rheaCrossReferences]="rheaXRefs"></cp-catalytic-activity>
        </div>
      }
      @if (ligands && ligands.length > 0) {
        <div id="ligands" class="columns medium-6 no-pad-left">
          <cp-ligands [ligands]="ligands"></cp-ligands>
        </div>
      }
      @if (goXRefs && goXRefs.length > 0) {
        <div id="goXRefs" class="columns medium-12 no-pad-left">
          <cp-go-crossreferences [crossReferences]="goXRefs"></cp-go-crossreferences>
        </div>
      }
      <div class="columns medium-12 no-pad-left">
        @if (agonists && agonists.length > 0) {
          <div id="agonists" class="columns medium-6 no-pad-left no-pad-right">
            <cp-agonists [agonists]="agonists"></cp-agonists>
          </div>
        }
        @if (antagonists && antagonists.length > 0) {
          <div id="antagonists" class="columns medium-6 no-pad-left no-pad-right">
            <cp-antagonists [antagonists]="antagonists"></cp-antagonists>
          </div>
        }
      </div>
      @if (reactomeXRefs && reactomeXRefs.length > 0) {
        <div id="reactomeXRefs" class="columns medium-12 no-pad-left">
          <cp-reactome-cross-references [crossReferences]="reactomeXRefs"></cp-reactome-cross-references>
        </div>
      }
    </div>
  </div>
}
