<div class="row">
  <h4>Function</h4>
  <div id="description" class="columns medium-12 no-pad-left" *ngIf="functionDescription">
    <app-function-description [functionDescription]="functionDescription"></app-function-description>
  </div>
  <div id="goRefs" class="columns medium-12 no-pad-left" *ngIf="goXRefs">
    <app-go-crossreferences [crossReferences]="goXRefs"></app-go-crossreferences>
  </div>
  <div id="intenzXRefs" class="columns medium-12 no-pad-left" *ngIf="intenzXRefs">
    <app-intenz-crossreferences [crossReferences]="intenzXRefs"></app-intenz-crossreferences>
  </div>
  <div id="reactomeXRefs" class="columns medium-12 no-pad-left" *ngIf="reactomeXRefs">
    <app-reactome-crossreferences [crossReferences]="reactomeXRefs"></app-reactome-crossreferences>
  </div>
</div>
