<div class="row">
  <h2>Function</h2>
  <div id="description" class="columns medium-12 no-pad-left" *ngIf="functionDescription">
    <app-function-description [functionDescription]="functionDescription"></app-function-description>
  </div>
  <div id="ligands" class="columns medium-12 no-pad-left" *ngIf="ligands && ligands.length !== 0">
    <app-ligands [ligands]="ligands"></app-ligands>
  </div>
  <div id="goXRefs" class="columns medium-12 no-pad-left" *ngIf="goXRefs">
    <app-go-crossreferences [crossReferences]="goXRefs"></app-go-crossreferences>
  </div>
  <div id="agonists" class="columns medium-6 no-pad-left" *ngIf="agonists && agonists.length !== 0">
    <app-agonists [agonists]="agonists"></app-agonists>
  </div>
  <div id="antagonists" class="columns medium-6 no-pad-left" *ngIf="antagonists && antagonists.length !== 0">
    <app-antagonists [antagonists]="antagonists"></app-antagonists>
  </div>
  <div id="reactomeXRefs" class="columns medium-12" *ngIf="reactomeXRefs">
    <app-reactome-crossreferences [crossReferences]="reactomeXRefs"></app-reactome-crossreferences>
  </div>
  <div id="pubmedXRefs" class="columns medium-12 no-pad-left" *ngIf="pubmedXRefs">
    <app-euro-pmc-crossreferences [crossReferences]="pubmedXRefs"></app-euro-pmc-crossreferences>
  </div>
  <div id="intenzXRefs" class="columns medium-12 no-pad-left" *ngIf="intenzXRefs">
    <app-intenz-crossreferences [crossReferences]="intenzXRefs"></app-intenz-crossreferences>
  </div>
  <div id="synonyms" class="columns medium-6 no-pad-left" *ngIf="synonyms">
    <app-synonyms [synonyms]="synonyms"></app-synonyms>
  </div>
  <div id="systematicName" class="columns medium-6 no-pad-left" *ngIf="systematicName">
    <app-systematic-name [systematicName]="systematicName"></app-systematic-name>
  </div>
</div>
