<div class="columns margin-top-large margin-bottom-large">
  <h1>Organisms</h1>
  @if (organisms) {
    <div class="columns medium-12" style="display: grid; grid-template-columns: repeat(auto-fill, minmax(16rem, 1fr)); grid-gap: 1rem;">
      @for (organism of organisms; track organism.taxid) {
        <div class="medium-12" style="break-inside: avoid-column">
          <cp-complex-organism [organism]="organism"></cp-complex-organism>
        </div>
      }
    </div>
  } @else {
    <cp-progress-spinner [query]="query"></cp-progress-spinner>
  }
</div>

