.typeOfSorting {
  display: none;
}

.sortingInteractors:hover .typeOfSorting {
  display: flex;
  margin-top: -15px;
  flex-direction: row;
  position: absolute;
  z-index: 5;
}

.typeOfSorting .button {
  border-right: 1px solid white;
  font-size: 14px;
}

.filters {
  /*width: 120.5%;*/

  display: flex;
  justify-content: center;
  grid-gap: 10px;
  height: 67px;
  z-index: 5;
  text-align: center;
}

.displaySize {
  display: none;
}

.detailedDisplayOptions {
  display: none;
}

label {
  color: white;
}

.dropdown:hover .displaySize {
  display: flex;
  list-style: none;
  width: 300px;
  background-color: var(--primary);
  color: white;
  margin-top: -15px;
  flex-direction: row;
  position: absolute;
  height: 40px;
  align-content: center;
  z-index: 5;
}

.dropdown:hover .displaySize li {
  width: 200px;
  background-color: var(--primary);
  margin-left: -21px;
  text-align: left;
  padding-left: 6px;
  z-index: 5;
}

li {
  text-align: center;
  align-items: center;
  font-size: 14px;
  border-left: 1px solid white;
  padding-top: 10px;
  max-width: 171px;
}

.detailedDisplay:hover .detailedDisplayOptions {
  display: flex;
  list-style: none;
  align-content: baseline;
  flex-direction: column;
  position: absolute;
  z-index: 5;
  margin-left: 14px;
}

.detailedDisplayOptions li {
  text-align: left;
  z-index: 5;
}
