.description {
  width: 90%;
  text-align: justify;
}

.container {
  display: inline-flex;
  width: -webkit-fill-available;
}

.complexesAndDescription {
  padding: 10px;
  width: 95%;
}

.basketButtonContainer {
  width: fit-content;
  height: fit-content;
  margin-top: 10px;
}

.basket-icons {
  margin-left: 5px;
}

.predictedOrCuratedLabel {
  background-color: var(--primary);
  color: var(--on-primary);
  padding: 4px 8px;
}
