.description {
  width: 90%;
  text-align: justify;
}

.container {
  display: inline-flex;
  width: -webkit-fill-available;
}

.complexesAndDescription {
  padding: 10px;
  width: 95%;
}

.basketButtonContainer {
  width: fit-content;
  height: fit-content;
  margin-top: 10px;
}

.basket-icons {
  margin-left: 5px;
}

.predicted h3 {
  font-family: "Roboto Mono", monospace;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
  font-size: 22px;
}

