table {
  background-color: #e6e6e6;
  text-align: center;
  color: #0a0a0a;
  padding: 100px;
}

table th {
  background-color: #389198;
  position: sticky;
  padding-left: 15px;
  padding-right: 15px;
}

table, th, td {
  border: 1px solid black;
}

.Complex-navigator {
  position: relative;
  width:100%;
  z-index: 1;
  margin: auto;
  height: 350px;
  border-collapse: separate;
  overflow: auto;
  text-align: center;
}

.Complex-navigator th {
  position: sticky;
  top: 0;
  text-align: center;
}


th:first-child, td:first-child {
  position: sticky;
  left: 0;
  background-color: #b7b8b8;
  text-align: center;
}

th:first-child{
  z-index:1;
}

.ComplexNameSpan{
  visibility: hidden;
  background-color: #b7b8b8;
  color: #0a0a0a;
  text-align: center;
  padding: 5px;
  position: absolute;
  border: 1px solid black;
  z-index: 5;
}

.complexInTable:hover .ComplexNameSpan{
  visibility: visible;
  z-index: 5;
}

.listOfResults{
  text-align:center;
}

.listOfResults ul li {
  text-align: justify;
}


.interactorType {
  font-size: small;
}

[data-toggle="toggle"] {
  display: none;
}
