<div class="row">
  <div class="columns medium-12">
    <h3>Rhea Cross References ({{crossReferences.length}})</h3>
    <table class="hover">
      <tbody>
      <tr *ngFor="let crossReference of crossReferences | slice:0:displayedElements; let i = index">
        <td>
          <div>
            <a href="{{crossReference.crossReference.searchURL}}" target="_blank">{{crossReference.crossReference.identifier}} <i
              class="icon icon-generic small" data-icon="x"></i></a>
            <button class="button float-right" *ngIf="crossReference.displayed" (click)="toggleDisplayedProperty(i)">Hide Rhea reaction</button>
            <button class="button float-right" *ngIf="!crossReference.displayed" (click)="toggleDisplayedProperty(i)">Show Rhea reaction</button>
          </div>
          <div *ngIf="crossReference.displayed">
            <rhea-reaction rheaid="{{crossReference.identifier}}" showids nosource="true"></rhea-reaction>
          </div>
        </td>
      </tr>
      <tr class="text-center" style="background: white" *ngIf="displayedElements < crossReferences.length">
        <td>
          <a class="label" (click)="displayedElements = crossReferences.length">Show all</a>
        </td>
      </tr>
      </tbody>
    </table>
  </div>
</div>
