<div class="row">
  <div class="columns medium-12 no-pad-left" *ngIf="(gxa && gxaParamsQueries) || goCellularXRefs">
    <h2 class="float-left">Expression and Cellular Location</h2>
    <div class="columns medium-12">
      <cp-gxa-heatmap *ngIf="gxa && gxaParamsQueries && complexSpecies" [gxa]="gxa" [gxaParamsQueries]="gxaParamsQueries"
                      [complexSpecies]="complexSpecies"></cp-gxa-heatmap>
    </div>
    <div class="columns medium-12">
      <cp-go-celluar-crossreference *ngIf="goCellularXRefs"
                                    [crossReferences]="goCellularXRefs"></cp-go-celluar-crossreference>
    </div>
  </div>
</div>
