<div class="row">
  <div class="columns medium-12">
    <div>
      <h2>About</h2>
      <h3>Complex Portal</h3>
      <p>The Complex Portal is a manually curated, encyclopaedic resource of macromolecular complexes from
        a number of key model organisms, entered into the <a href="{{INTACT_BASE_URL}}" target="_blank">IntAct
          molecular interaction database <i class="icon icon-generic small" data-icon="x"></i></a>. Data includes
        protein-only complexes as well as protein-small molecule and protein-nucleic acid complexes. All complexes are
        derived from physical molecular interaction evidences extracted from the literature and cross-referenced in the
        entry, or by curator inference from information on homologs in closely related species or by inference from
        scientific background. All complexes are tagged with <a
          href="http://www.ebi.ac.uk/intact/complex/documentation/#evidences">Evidence and Conclusion Ontology codes <i class="icon icon-generic small" data-icon="x"></i></a>
        to indicate the type of evidence available for each entry.</p>
      <p>The number of complexes available is currently limited, but will be added to over time. If you
        wish to request the curation of one or more complexes, or to amend or contribute to an existing entry, please <a
          href="{{INTACT_SUPPORT_URL}}" target="_blank">contact us <i class="icon icon-generic small" data-icon="x"></i></a>.
      </p>
    </div>
  </div>
</div>


