<div class="row">
  <div class="columns medium-12">
    <h5 >The Complex Portal is a manually curated, encyclopaedic resource of macromolecular complexes from a number of key
    model organisms, entered into the IntAct molecular interaction database. Data includes protein-only complexes as
    well as protein-small molecule and protein-nucleic acid complexes. All complexes are derived from physical molecular
    interaction evidences extracted from the literature, and cross-referenced in the entry, or by curator inference from
    information on orthologues in closely related species. Any complex which currently lacks direct experimental
      evidence is tagged as such, using controlled vocabulary terms from the Evidence Code Ontology.</h5>

    <p>The number of complexes available is currently limited, but will be added to over time. If you wish to request the
    curation of one or more complexes, or to amend or contribute to an existing entry, please contact us on intact-help.</p>
    To read more on complex curation, go to Documentation.

    To find out more about the search algorithms, go to Help.

    To retrieve our data programmatically, please use our API: Complex Portal Web-Service

    Complexes can be downloaded in PSI-MI XML 2.5.4 format from our ftp site. Individual complex files are grouped by
    species.
  </div>
</div>
