<div class="row">
  <div class="columns medium-12">
    <div class="intro-unit">
      <h2>About</h2>
      <h3>Complex Portal</h3>
      <p class="lead">The Complex Portal is a manually curated, encyclopaedic resource of macromolecular complexes from
        a number of key model organisms, entered into the <a href="http://www.ebi.ac.uk/intact/" target="_blank">IntAct molecular interaction database <i class="icon icon-generic small" data-icon="x"></i></a>. Data includes
        protein-only complexes as well as protein-small molecule and protein-nucleic acid complexes. All complexes are
        derived from physical molecular interaction evidences extracted from the literature, and cross-referenced in the
        entry, or by curator inference from information on orthologues in closely related species. Any complex which
        currently lacks direct experimental evidence is tagged as such, using controlled vocabulary terms from the
        <a href="http://www.ebi.ac.uk/intact/complex/documentation/#evidences">Evidence Code Ontology</a>.</p>
      <p class="lead">The number of complexes available is currently limited, but will be added to over time. If you
        wish to request
        the curation of one or more complexes, or to amend or contribute to an existing entry, please <a
          href="http://www.ebi.ac.uk/support/intact" target="_blank">contact us <i class="icon icon-generic small" data-icon="x"></i></a>.</p>
    </div>
    <h5></h5>

    To read more on complex curation, go to Documentation.

    <p>To find out more about the search algorithms, go to Help.</p>

    <p>To retrieve our data programmatically, please use our API: Complex Portal Web-Service</p>

    <p>Complexes can be downloaded in PSI-MI XML 2.5.4 format from our ftp site. Individual complex files are grouped by
      species.</p>
  </div>
</div>
