<div class="row">
  <div class="columns medium-12 no-pad-left" *ngIf="pubmedXRefs || synonyms || systematicName">
    <h2>Names and Publications</h2>
    <div id="pubmedXRefs" class="columns medium-12 no-pad-left" *ngIf="pubmedXRefs">
      <app-euro-pmc-crossreferences [crossReferences]="pubmedXRefs"></app-euro-pmc-crossreferences>
    </div>
    <div id="synonyms" class="columns medium-6 no-pad-left" *ngIf="synonyms">
      <app-synonyms [synonyms]="synonyms"></app-synonyms>
    </div>
    <div id="systematicName" class="columns medium-6 no-pad-left" *ngIf="systematicName">
      <app-systematic-name [systematicName]="systematicName"></app-systematic-name>
    </div>
  </div>
</div>


