input {
  margin: 0;
  vertical-align: middle;
}

.icon, img {
  vertical-align: middle;
  margin: 0 2px;
}

label {
  line-height: 1.8;
  vertical-align: middle;
}

.count {
  padding: 0 4px;
  border-radius: 50px;
  border: 1px solid black;
  font-size: small;
}

.tag ~ .count {
  margin-left: 6px;
}

.predicted .count {
  border: 1px solid black;
}


input:checked ~ .count {
  background: var(--primary);
  color: var(--on-primary);
  font-weight: bold;
  border: 1px solid var(--primary);
}
