<div class="row">
  <div class="columns medium-12">
    <h2>Downloads</h2>
    <p>The Complex Portal is released monthly and data on individual complexes is available for download in both PSI-MI
      XML2.5 and XML3.0 formats (see the PSI website for a detailed format description). The files are grouped by
      species. We have now also developed ComplexTAB, a flatfile format to enable simpler parsing or loading into
      Microsoft Excel. A separate ComplexTAB file has been produced for each species - details on the format are
      available <a href="ftp://ftp.ebi.ac.uk/pub/databases/intact/complex/current/complextab/README.htm"
                   target="_blank">here</a>. All files are
      available from the <a href="ftp://ftp.ebi.ac.uk/pub/databases/intact/complex/current/" target="_blank">ftp
        site</a> and will be updated as we
      add new complexes with every data release.</p>
    <ul>
      <li class="icon-bullet"><span class="icon icon-generic" data-icon="*"></span> All Complex Portal data and software
        is freely available to all users, academic or commercial, under the terms of the Apache License, Version 2.0
      </li>
    </ul>
    <div class="row button-grid small-up-1 medium-up-4 large-up-4 margin-top-xlarge no-pad-right" data-equalizer
         data-equalize-on="medium" id="large-button-grid">
      <div class="column  padding-bottom-large">
        <a class="button medium-12 columns text-center" data-equalizer-watch
           href="ftp://ftp.ebi.ac.uk/pub/databases/intact/complex/current/psi25/" target="_blank">
          <h3 class="icon icon-fileformats  white-color" data-icon="1"></h3>
          <h5 class="white-color">PSI-MI XML 2.5</h5>
        </a>
      </div>
      <div class="column  padding-bottom-large">
        <a class="button medium-12 columns text-center" data-equalizer-watch
           href="ftp://ftp.ebi.ac.uk/pub/databases/intact/complex/current/psi30/" target="_blank">
          <h3 class="icon icon-fileformats  white-color" data-icon="1"></h3>
          <h5 class="white-color">PSI-MI XML 3.0</h5>
        </a>
      </div>
      <div class="column  padding-bottom-large">
        <a class="button medium-12 columns text-center" data-equalizer-watch
           href="ftp://ftp.ebi.ac.uk/pub/databases/intact/complex/current/complextab/" target="_blank">
          <h3 class="icon icon-fileformats  white-color" data-icon="v"></h3>
          <h5 class="white-color">ComplexTab</h5>
        </a>
      </div>
      <div class="column  padding-bottom-large">
        <a class="button medium-12 columns text-center" data-equalizer-watch
           href="http://www.ebi.ac.uk/intact/complex-ws/" target="_blank">
          <h3 class="icon icon-fileformats white-color" data-icon="J"></h3>
          <h5 class="white-color">PSI-MI JSON</h5>
        </a>
      </div>
    </div>
  </div>
</div>



