<div class="row">
  <div class="columns medium-12">
    <h2>Downloads</h2>
    <h3>Complex Portal is released monthly and all data is in PSI-MI 2.5 and 3.0 format as well as in ComplexTAB format. See the PSI website for a detailed
      format
      description.</h3>
    <ul>
      <li class="icon-bullet"><span class="icon icon-generic" data-icon="*"></span> All Complex Portal data and software
        is freely available to all users, academic or commercial, under the terms of the Apache License, Version 2.0
      </li>
    </ul>
    <div class="callout columns medium-4">
      <dl>
        <h4>Latest PSI-MI 2.5 format</h4>
        <dd><p>Available <a href="ftp://ftp.ebi.ac.uk/pub/databases/intact/complex/current/psi25/" target="_blank"
                            class="readmore">here</a></p></dd>
      </dl>
    </div> <!-- /callout -->
    <div class="callout columns medium-4">
      <dl>
        <h4>Latest PSI-MI 3.0 format</h4>
        <dd><p>Available <a href="ftp://ftp.ebi.ac.uk/pub/databases/intact/complex/current/psi25/" target="_blank"
                            class="readmore">here</a></p></dd>
      </dl>
    </div> <!-- /callout -->
    <div class="callout columns medium-4">
      <dl>
        <h4>Latest ComplexTAB format</h4>
        <dd><p>Available <a href="ftp://ftp.ebi.ac.uk/pub/databases/intact/complex/current/complextab/" target="_blank"
                            class="readmore">here</a></p></dd>
      </dl>
    </div> <!-- /callout -->
  </div>
</div>
