.displayButton {
  float: right;
}

.view-button {
  float: unset;
  width: 225px;
  margin-right: 5px;
  background-color: white;
  color: #555;
  border: 1px dotted #007c82;
}

.view-button:hover {
  color: #007c82;
  background-color: rgb(234, 234, 234);
  border: transparent;
  border-bottom: 1px dotted #007c82;
}

.selected,
.selected:hover {
  background-color: #007c82;
  color: white;
  opacity: 100%;
}

