.displayButton {
  float: right;
}

.view-button {
  float: unset;
  width: 225px;
  margin-right: 5px;
  background-color: white;
  color: #555;
  border: 1px dotted #007c82;
}

.view-button:hover {
  color: #007c82;
  background-color: rgb(234, 234, 234);
  border: transparent;
  border-bottom: 1px dotted #007c82;
}

.selected,
.selected:hover {
  background-color: #007c82;
  color: white;
  opacity: 100%;
}

.new-tag {
  color: red;
  font-weight: bold;
  font-size: x-small;
}

.new-tag-selected {
  color: yellow;
}

.filterColumn {
  width: calc(100rem * 0.22);
}

.numberResults {
  --global-margin: calc((100vw - 80rem) / -2);
  padding-left: 5vw;
  margin-left: min(var(--global-margin), 0px)
}

.leftAligned {
  --global-margin: calc((100vw - 80rem) / -2);
  --min-margin-left: calc(-100rem * 0.17);
  margin-left: max(var(--global-margin), var(--min-margin-left));
}





