.filterColumn {
  width: 15vw;
}

.leftAligned {
  --global-margin: calc((100vw - 80rem) / -2);
  --min-margin-left: calc(-100rem * 0.17);
  margin-left: max(var(--global-margin), var(--min-margin-left));
}

.smallCN {
  width: 55vw;
  float: right;
  margin-left: auto;
}

.changingOfDisplay {
  float: left;
  width: 75vw;
  margin-right: -2vw;
}

.column:last-child:not(:first-child),
.columns:last-child:not(:first-child) {
  float: left !important;
}

.listOfResults {
  width: 40vw;
  margin-left: 17vw;
  text-justify: distribute;
}
