<div class="row no-pad-left">
  <div class="columns medium-12 no-pad-left" *ngIf="propertiesDescription || pdbXRefs || emdbXRefs">
    <h2>Properties</h2>
    <div id="description" class="columns medium-12 no-pad-left" *ngIf="propertiesDescription">
      {{propertiesDescription}}
    </div>
    <div id="comment" class="columns medium-12 no-pad-left" *ngIf="comments  && comments.length !== 0">
      <h3>Comments</h3>
      <ul class="no-bullet" *ngFor="let comment of comments">
        <li>{{comment}}</li>
      </ul>
    </div>
    <div id="pdbXRefs" class="columns medium-12" *ngIf="pdbXRefs">
      <app-pdb-crossreferences [crossReferences]="pdbXRefs"></app-pdb-crossreferences>
    </div>
    <div id="emdbXRefs" class="columns medium-12" *ngIf="emdbXRefs">
      <app-emdb-crossreferences [crossReferences]="emdbXRefs"></app-emdb-crossreferences>
    </div>
  </div>
</div>

