<div class="row no-pad-left">
  <div class="columns medium-12 no-pad-left" *ngIf="propertiesDescription || pdbXRefs || emdbXRefs">
    <h2 class="float-left">Properties</h2>
    <cp-go-to class="float-right" [sectionName]="'Properties'"></cp-go-to>
    <div id="description" class="columns medium-12 no-pad-left" *ngIf="propertiesDescription">
      {{propertiesDescription}}
    </div>
    <div id="comment" class="columns medium-12 no-pad-left" *ngIf="comments  && comments.length !== 0">
      <h3>Comments</h3>
      <ul class="no-bullet" *ngFor="let comment of comments">
        <li>{{comment}}</li>
      </ul>
    </div>
    <div id="assemblies" class="columns medium-12 no-pad-left" *ngIf="assemblies && assemblies.length !== 0">
      <cp-assemblies [assemblies]="assemblies"></cp-assemblies>
    </div>
    <div id="pdbXRefs" class="columns medium-12 no-pad-left" *ngIf="pdbXRefs">
      <cp-pdb-crossreferences [crossReferences]="pdbXRefs"></cp-pdb-crossreferences>
    </div>
    <div id="emdbXRefs" class="columns medium-12 no-pad-left" *ngIf="emdbXRefs">
      <cp-emdb-crossreferences [crossReferences]="emdbXRefs"></cp-emdb-crossreferences>
    </div>
  </div>
</div>

