<div class="row">
  <div class="columns medium-12 callout">
    <div class="columns medium-9 no-pad-left">
      <h2>{{complexName}}</h2>
      <h3><i>{{complexSpecies}}</i></h3>
    </div>
    <div class="columns medium-2">
      <div class="columns medium-12">
        <div class="columns medium-6">
          <a href="{{jsonURL}}" target="_blank"><h3 class="icon icon-fileformats hover" data-icon="J"></h3></a>
        </div>
        <div class="columns medium-6">
          <a (click)="saveComplex()"><h3 class="icon icon-generic hover" style="color: black" data-icon="b"></h3></a>
        </div>
      </div>
      <div class="columns medium-12">
        <div class="columns medium-6">

        </div>
        <div class="columns medium-6">

        </div>
      </div>
    </div>
  </div>
</div>
