.complexNavigatorTable {
  border-collapse: separate;
  overflow: scroll;
  width: 130%;
}

.header {
  position: sticky;
  top: 0;
  width: 100%;
  z-index: 20;
  color: #e6e6e6;
}

.interactors {
  width: 100%;
  top: -20px;
  position: relative;
}

