.complexNavigatorTable {
  border-collapse: separate;
  height: 100%;
  position: relative;
  max-width: calc(230px + var(--cols) * 70px + 185px);
}

.complexNavigatorTable.sorting {
  max-width: calc(230px + 3ch + var(--cols) * 70px + 185px);
 }

.header {
  position: sticky;
  z-index: 2;
  transform: rotateX(180deg);
}

.scroller {
  overflow-x: scroll;
  overflow-y: hidden;
}

.interactors {
  z-index: 1;
  position: relative;
  overflow-y: hidden;
}
