.complexNavigatorTable {
  border-collapse: separate;
  height: 100%;
}

.header {
  position: sticky;
  top: 20px;
  z-index: 2;
  overflow-x: auto;
  overflow-y: hidden;
  transform: rotateX(180deg);
}

.interactors {
  z-index: 1;
  position: relative;
  overflow-y: hidden;
}
