.complexNavigatorTable {
  border-collapse: separate;
  height: 100%;
  position: relative;
}

.header {
  position: sticky;
  z-index: 2;
  transform: rotateX(180deg);
}

.scroller {
  overflow-x: auto;
  overflow-y: hidden;
}

.interactors {
  z-index: 1;
  position: relative;
  overflow-y: hidden;
}
