<div class="row no-pad-left">
  <div class="columns callout medium-12 margin-bottom-none">
    <h5><i class="icon icon-generic padding-right-medium" data-icon="?"></i>Examples:</h5>
    <div class="columns medium-6">
      <ul>
        <li>GO term(s): <a [routerLink]="['/complex/search']" [queryParams]="{query: 'GO:0016491'}" >GO:0016491</a></li>
        <li>Gene name(s): <a [routerLink]="['/complex/search']" [queryParams]="{query: 'Ndc80'}">Ndc80</a></li>
        <li>UniProt AC(s): <a [routerLink]="['/complex/search']" [queryParams]="{query: 'Q05471'}">Q05471</a></li>
      </ul>
    </div>
    <div class="columns medium-6 no-pad-left">
      <ul>
        <li>Protein name(s): <a [routerLink]="['/complex/search']" [queryParams]="{query: 'PCNA'}">PCNA</a></li>
        <li>Complex AC: <a [routerLink]="['/complex/search']" [queryParams]="{query: 'EBI-9008420'}">EBI-9008420</a></li>
      </ul>
    </div>
  </div>
</div>

