<section>
  <div id="main-content-area">
    <div class="row">
      <div class="columns medium-12" *ngIf="complexDetails && complexMIJSON">
        <div class="columns medium-12">
          <app-complex-header [complexName]="complexDetails.name"
                              [complexSpecies]="complexDetails.species"></app-complex-header>
        </div>
        <div class="columns medium-2">
        </div>
        <div class="columns medium-10">
          <div class="columns medium-6">
            <app-complex-viewer [complexAC]="complexDetails.ac" [complexMIJSON]="complexMIJSON"></app-complex-viewer>
          </div>
          <div class="columns medium-6">
            <app-complex-participants [participants]="complexDetails.participants"></app-complex-participants>
          </div>
          <div class="columns medium-12 ">
            <app-complex-function *ngIf="complexDetails.functions && complexDetails.crossReferences"
                              [functionDescription]="complexDetails.functions"
                              [crossReferences]="complexDetails.crossReferences"></app-complex-function>
          </div>
          <div class="columns medium-12 ">
            <app-complex-properties></app-complex-properties>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
