.ComplexNavigator {
  width: 75vw;
  float: inline-end;
  --global-margin: calc((100vw - 80rem) / -2);
  --min-margin-right: calc(-100rem * 0.17);
  margin-right: max(var(--global-margin), var(--min-margin-right));
}


