.stoichNum {
  width: 4ch;
  height: 4ch;
  border-radius: 4ch;
  background-color: var(--primary);
  text-align: center;
  align-content: center;
  color: var(--on-primary);
  font-size: small;
  margin-left: auto;
  margin-right: auto;
  position: relative;
  z-index: 1;
  box-shadow: 0 0 0 1px #007C83FF;
  white-space: nowrap;
  overflow: clip;
  text-overflow: ellipsis;
}

::ng-deep.ortholog .stoichNum {
  box-shadow: -1px 1px var(--on-primary), -2px 4px var(--primary);
  margin-left: 3px;
}

::ng-deep.ortholog .predicted .stoichNum {
  box-shadow: -2px 3px var(--primary), -3px 4px var(--on-primary);
  margin-left: 3px;
  border: 1px solid var(--on-primary);
}
