
.stoichNum {
  width: 4ch;
  height: 4ch;
  border-radius: 4ch;
  background-color: var(--primary);
  text-align: center;
  padding-top: 0.5ch;
  color: white;
  font-size: small;
  margin-left: auto;
  margin-right: auto;
  position: relative;
  z-index: 1;
}
