<ng-container *ngFor="let notification of staticNotifications">
  <div class="warning callout" data-closable>
    <h5>Important!</h5>
    <p>{{notification}}</p>
    <!--<p>I'm using the default <code>data-closable</code> parameters, and simply fade out.</p>-->
    <!--<button class="close-button" aria-label="Dismiss alert" type="button" data-close>-->
    <!--<span aria-hidden="true">&times;</span>-->
    <!--</button>-->
  </div>
</ng-container>
<ng-container *ngFor="let notification of hintNotifications">
  <div class="primary callout" data-closable>
    <h5>Hint!</h5>
    <p>{{notification}}</p>
    <button class="close-button" aria-label="Dismiss alert" type="button" (click)="removeNotification(item, successNotifications)" data-close>
    <span aria-hidden="true">&times;</span>
    </button>
  </div>
</ng-container>
<!--<div class="alert callout" data-closable>-->
<!--<h5>This is Important!</h5>-->
<!--<p>But when you're done reading it, click the close button in the corner to dismiss this alert.</p>-->
<!--<p>I'm using the default <code>data-closable</code> parameters, and simply fade out.</p>-->
<!--<button class="close-button" aria-label="Dismiss alert" type="button" (click)="removeNotification(item, successNotifications)" data-close>-->
<!--<span aria-hidden="true">&times;</span>-->
<!--</button>-->
<!--</div>-->
<!--<div class="success callout" data-closable>-->
<!--<h5>This a friendly message.</h5>-->
<!--<p>And when you're done with me, I can be closed using a Motion UI animation.</p>-->
<!--<button class="close-button" aria-label="Dismiss alert" type="button" data-close>-->
<!--<span aria-hidden="true">&times;</span>-->
<!--</button>-->
<!--</div>-->
<!--<div class="secondary callout" data-closable>-->
<!--<h5>This is Important!</h5>-->
<!--<p>But when you're done reading it, click the close button in the corner to dismiss this alert.</p>-->
<!--<p>I'm using the default <code>data-closable</code> parameters, and simply fade out.</p>-->
<!--<button class="close-button" aria-label="Dismiss alert" type="button" data-close>-->
<!--<span aria-hidden="true">&times;</span>-->
<!--</button>-->
<!--</div>-->
<!--<div class="primary callout" data-closable>-->
<!--<h5>This a friendly message.</h5>-->
<!--<p>And when you're done with me, I can be closed using a Motion UI animation.</p>-->
<!--<button class="close-button" aria-label="Dismiss alert" type="button" data-close>-->
<!--<span aria-hidden="true">&times;</span>-->
<!--</button>-->
<!--</div>-->
<!--<div class="warning callout" data-closable>-->
<!--<h5>This is Important!</h5>-->
<!--<p>But when you're done reading it, click the close button in the corner to dismiss this alert.</p>-->
<!--<p>I'm using the default <code>data-closable</code> parameters, and simply fade out.</p>-->
<!--<button class="close-button" aria-label="Dismiss alert" type="button" data-close>-->
<!--<span aria-hidden="true">&times;</span>-->
<!--</button>-->
<!--</div>-->
