.alert-box {
  padding: 1.3rem;
  border-width: 0 0 0 0.35rem;
  font-family: 'Open Sans', sans-serif;
  font-size: 1rem; }
.alert-box.radius {
  border-radius: 0.6rem; }
.alert-box.primary {
  border-left-color: #446cb3;
  background-color: #8da6d4; }
.alert-box.primary strong {
  color: #446cb3; }
.alert-box.secondary {
  border-left-color: #adb2bd;
  background-color: #ced1d7; }
.alert-box.secondary strong {
  color: #adb2bd; }
.alert-box.info {
  border-left-color: #89c4f4;
  background-color: #b8dcf8; }
.alert-box.info strong {
  color: #89c4f4; }
.alert-box.alert {
  border-left-color: #f22613;
  background-color: #f77d71; }
.alert-box.alert strong {
  color: #f22613; }
.alert-box.success {
  border-left-color: #87d37c;
  background-color: #b7e5b0; }
.alert-box.success strong {
  color: #87d37c; }
.alert-box.warning {
  border-left-color: #f89406;
  background-color: #fbbf69; }
.alert-box.warning strong {
  color: #f89406; }
