<div class="margin-top-large margin-bottom-large">
  <div *ngIf="!isComplexBasketEmpty()" class="columns medium-12">
    <h1>Personal complex collection</h1>
    <table class="hover">
      <thead>
      <tr>
        <th>Name</th>
        <th>ID</th>
        <th>Organism</th>
        <th></th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let key of getKeys(complexBasket)">
        <td>
          <a [routerLink]="['/complex', complexBasket[key].id]">{{complexBasket[key].name}}</a>
        </td>
        <td>
          {{complexBasket[key].id}}
        </td>
        <td>
          {{complexBasket[key].organism}}
        </td>
        <td>
          <a class="button primary columns medium-12" (click)="deleteFromBasket(key)"> <span
            class="icon icon-functional" data-icon="d"></span></a>
        </td>
      </tr>
      </tbody>
    </table>
  </div>
  <div *ngIf="isComplexBasketEmpty()" class="columns medium-12">
    <div class="callout">
      <h3>Your basket is currently empty. :'-(</h3>
      <h5>Search for a complex and click on <i class="icon icon-generic" data-icon="b"></i>-symbol to create your own collection of favorite complexes.</h5>
    </div>
  </div>
</div>
