<div class="margin-top-large margin-bottom-large">
  @if (!isComplexBasketEmpty()) {
    <div class="columns medium-12">
      <h2>Personal collection of favourite complexes
        <a class="button primary columns medium-2 deleteAllButton float-right"
           (click)="deleteAllComplexes()">
          <i class="icon icon-common" data-icon=""></i>
          Remove all complexes
        </a>
      </h2>
      <h4>{{ getKeys(complexBasket).length }} complexes in your basket</h4>
      <div class="row expanded">
        <mat-tab-group [tabIndex]="displayType === SearchDisplay.list ? 0 : 1" #tabs
                       (selectedTabChange)="onDisplayTypeChange($event.index === 0 ? SearchDisplay.list : SearchDisplay.navigator)"
                       class="columns medium-centered small-12 medium-10 large-10">
          <mat-tab label="List view">
            <table class="hover">
              <thead>
              <tr>
                <th>Name</th>
                <th>ID</th>
                <th>Organism</th>
                <th></th>
              </tr>
              </thead>
              <tbody>
                @for (pair of complexBasket | keyvalue; track pair.key) {
                  <tr [class.predicted]="pair.value.predicted">
                    <td>
                      <a [routerLink]="['/complex', pair.value.id]">{{ pair.value.name }}</a>
                      · <b class="tag">{{ !pair.value.predicted ? 'Curated' : 'Predicted' }} complex</b>
                    </td>
                    <td>{{ pair.value.id }}</td>
                    <td>{{ pair.value.organism }}</td>
                    <td>
                      <a class="button primary columns medium-12" (click)="deleteFromBasket(pair.key)">
                        <i class="icon icon-common" data-icon=""></i>
                      </a>
                    </td>
                  </tr>
                }
              </tbody>
            </table>
          </mat-tab>
          <mat-tab label="Navigator view">
              @if (complexSearchBasket) {
                <div class="ComplexNavigator"
                     [ngClass]="complexSearchBasket.totalNumberOfResults <=6 ? 'smallCN' : ''">
                  <cp-complex-navigator
                    [complexSearch]="complexSearchBasket"
                    [interactors]="allInteractorsInComplexSearchBasket"
                    (onComplexRemovedFromBasket)="deleteFromBasket($event)">
                  </cp-complex-navigator>
                </div>
              } @else {
                <cp-progress-spinner></cp-progress-spinner>
              }
          </mat-tab>
        </mat-tab-group>
      </div>
    </div>
  }
  @if (isComplexBasketEmpty()) {
    <div class="columns medium-12">
      <div class="callout">
        <h3>Your basket is currently empty. :'(</h3>
        <h5>Search for a complex and click on <i class="icon icon-common" data-icon=""></i> symbol to create your own
          collection of favorite complexes.</h5>
      </div>
    </div>
  }
</div>
