a {
  font-weight: normal;
}

a, a:visited {
  color: #0e6f76;
}

i:not(.small) {
  font-size: large;
}

.externalLinkContainer {
  justify-content: end;
  grid-gap: 5px;
  font-size: 14px;
  line-break: anywhere;
  word-break: break-word;
}
