<div class="row no-pad-left small-up-1 medium-up-2 large-up-4 margin-top-xlarge" data-equalizer>
  <div class="column">
    <a class="column white-color text-center tile ebi-background" [routerLink]="['/download']" data-equalizer-watch>
      <h3 class="icon icon-functional" data-icon="="></h3>
      <h4>Download</h4>
    </a>
  </div>
  <div class="column">
    <a class="column white-color text-center tile ebi-background" data-equalizer-watch>
      <h3 class="icon icon-species" data-icon="H"></h3>
      <h4>Organisms</h4>
    </a>
  </div>
  <div class="column">
    <a class="column white-color text-center tile ebi-background" data-equalizer-watch>
      <h3 class="icon icon-functional" data-icon="h"></h3>
      <h4>Ontology</h4>
    </a>
  </div>
  <div class="column">
    <a class="column white-color text-center tile ebi-background" data-equalizer-watch>
      <h3 class="icon icon-functional" data-icon="*"></h3>
      <h4>Pathways</h4>
    </a>
  </div>
  <div class="column">
    <a class="column white-color text-center tile menu-gold" href="//www.ebi.ac.uk/support/intact" target="_blank" data-equalizer-watch>
      <h3 class="icon icon-generic" data-icon="\"></h3>
      <h4>Request Complex</h4>
    </a>
  </div>
  <div class="column">
    <a class="column white-color text-center tile menu-blue" href="http://www.ebi.ac.uk/intact/resources/training" data-equalizer-watch>
      <h3 class="icon icon-generic" data-icon="A"></h3>
      <h4>Training</h4>
    </a>
  </div>
  <div class="column">
    <a class="column white-color text-center tile menu-blue" href="http://www.ebi.ac.uk/intact/complex/documentation/" data-equalizer-watch>
      <h3 class="icon icon-generic" data-icon="?"></h3>
      <h4>Documentation</h4>
    </a>
  </div>
  <div class="column">
    <a class="column white-color text-center tile menu-blue" data-open="citeModal" data-equalizer-watch>
      <h3 class="icon icon-generic" data-icon="P"></h3>
      <h4>Citation</h4>
    </a>
    <div class="reveal" id="citeModal" data-reveal>
      <h2>Citing Complex Portal</h2>
      <p class="lead">The complex portal - an encyclopaedia of macromolecular complexes.</p>
      <p>Meldal BH et al [PMID: 25313161]</p>
      <p>Nucl. Acids Res. (2014) doi: 10.1093/nar/gku975</p>
      <a class="button" href="//europepmc.org/abstract/MED/25313161" target="_blank">Abstract</a>
      <a class="button" href="//nar.oxfordjournals.org/content/early/2014/10/13/nar.gku975.long" target="_blank">Full Text</a>
      <button class="close-button" data-close aria-label="Close modal" type="button">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
  </div>
</div>
