<div class="row button-grid small-up-1 medium-up-2 large-up-4 margin-top-xlarge no-pad-right" data-equalizer
     data-equalize-on="medium" id="large-button-grid">
  <div class="column medium-3 small-6 text-center padding-bottom-large"><a class="button medium-12 columns"
                                                                           data-equalizer-watch
                                                                           [routerLink]="['/download']"><h3
    class="icon icon-functional white-color" data-icon="="></h3> <h5 class="white-color">Download</h5></a></div>
  <div class="column medium-3 small-6 text-center padding-bottom-large"><a class="button medium-12 columns"
                                                                           data-equalizer-watch
                                                                           href="featureNotAvailableYet()"><h3
    class="icon icon-species white-color" data-icon="H"></h3> <h5 class="white-color">Organisims</h5></a></div>
  <div class="column medium-3 small-6 text-center padding-bottom-large"><a class="button medium-12 columns"
                                                                           data-equalizer-watch
                                                                           href="featureNotAvailableYet()"><h3
    class="icon icon-conceptual white-color" data-icon="o"></h3> <h5 class="white-color">Ontologies</h5></a></div>
  <div class="column medium-3 small-6 text-center padding-bottom-large"><a class="button medium-12 columns"
                                                                           data-equalizer-watch
                                                                           href="featureNotAvailableYet()"><h3
    class="icon icon-conceptual white-color" data-icon="o"></h3> <h5 class="white-color">Pathways</h5></a></div>
  <div class="column medium-3 small-6 text-center padding-bottom-large"><a
    class="button medium-12 columns training-background" data-equalizer-watch href="//www.ebi.ac.uk/support/intact"><h3
    class="icon icon-generic white-color" data-icon="\"></h3> <h5 class="white-color">Request<br/>Complex</h5></a></div>
  <div class="column medium-3 small-6 text-center padding-bottom-large"><a
    class="button medium-12 columns industry-background" data-equalizer-watch
    href="http://www.ebi.ac.uk/intact/resources/training"><h3 class="icon icon-generic white-color" data-icon="t"></h3>
    <h5 class="white-color">Training</h5></a></div>
  <div class="column medium-3 small-6 text-center padding-bottom-large"><a
    class="button medium-12 columns industry-background" data-equalizer-watch
    href="http://www.ebi.ac.uk/intact/complex/documentation/"><h3 class="icon icon-generic white-color"
                                                                  data-icon="?"></h3> <h5 class="white-color">
    Documentation</h5></a></div>
  <div class="column medium-3 small-6 text-center padding-bottom-large"><a
    class="button medium-12 columns industry-background" data-equalizer-watch href="featureNotAvailableYet()"><h3
    class="icon icon-generic white-color" data-icon="P"></h3> <h5 class="white-color">Citation</h5></a></div>
</div>
