<div class="row button-grid small-up-1 medium-up-2 large-up-4 margin-top-xlarge no-pad-right" data-equalizer
     data-equalize-on="medium" id="large-button-grid">
  <div class="column medium-3 small-6 text-center padding-bottom-large">
    <a class="button medium-12 columns" data-equalizer-watch (click)="goToDownload()">
      <h3 class="icon icon-functional white-color" data-icon="="></h3>
      <h5 class="white-color" style="white-space: normal">Programmatic Access</h5>
    </a>
  </div>
  <div class="column medium-3 small-6 text-center padding-bottom-large">
    <a class="button medium-12 columns" data-equalizer-watch (click)="goToBasket()">
      <h3 class="icon icon-generic white-color" data-icon="b"></h3>
      <h5 class="white-color">Basket</h5>
    </a>
  </div>
  <div class="column medium-3 small-6 text-center padding-bottom-large">
    <a class="button medium-12 columns" data-equalizer-watch (click)="goToOrganisms()">
      <h3 class="icon icon-species white-color" data-icon="H"></h3>
      <h5 class="white-color">Organisms</h5>
    </a>
  </div>
  <div class="column medium-3 small-6 text-center padding-bottom-large">
    <a class="button medium-12 columns" data-equalizer-watch (click)="goToOntologies()">
      <h3 class="icon icon-conceptual white-color" data-icon="o"></h3>
      <h5 class="white-color">Ontologies</h5>
    </a>
  </div>
  <div class="column medium-3 small-6 text-center padding-bottom-large">
    <a
      class="button medium-12 columns training-background" data-equalizer-watch (click)="goToRequestComplex()">
      <h3 class="icon icon-generic white-color" data-icon="\"></h3>
      <h5 class="white-color" style="white-space: normal">Request Complex for Curation</h5>
    </a>
  </div>
  <div class="column medium-3 small-6 text-center padding-bottom-large">
    <a
      class="button medium-12 columns industry-background" data-equalizer-watch (click)="goToTraining()">
      <h3 class="icon icon-generic white-color" data-icon="t"></h3>
      <h5 class="white-color">Training</h5>
    </a>
  </div>
  <div class="column medium-3 small-6 text-center padding-bottom-large">
    <a class="button medium-12 columns industry-background" data-equalizer-watch (click)="goToDocumentation()">
      <h3 class="icon icon-generic white-color" data-icon="?"></h3>
      <h5 class="white-color">Documentation</h5>
    </a>
  </div>
  <div class="column medium-3 small-6 text-center padding-bottom-large">
    <a class="button medium-12 columns industry-background" data-equalizer-watch data-open="citationModal" (click)="goToCitation()">
      <h3 class="icon icon-generic white-color" data-icon="P"></h3>
      <h5 class="white-color">How To Cite Us</h5>
    </a>
  </div>
  <div class="reveal" id="citationModal" data-reveal>
    <h3>Citing Complex Portal</h3>
    <span class="lead">Complex Portal 2018: extended content and enhanced visualization tools for macromolecular complexes.</span>
    <p>Meldal BHM et al [PMID: 30357405]</p>
    <p><i>Nucl. Acids Res. (2019) doi: 10.1093/nar/gky1001</i></p>
    <a class="button readmore" href="//europepmc.org/abstract/MED/30357405" target="_blank">Abstract</a>
    <a class="button readmore"
       href="https://academic.oup.com/nar/article/47/D1/D550/5144138" target="_blank">Full
      text</a>

    <button class="close-button" data-close aria-label="Close modal" type="button">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
</div>
