<div>
  <header id="masthead" class="masthead">
    <!-- COMPLEX PORTAL HEADER SECTION -->
    <div class="masthead-inner row"> <!-- expanded -->
      <!-- local-title -->
      <div class="columns medium-6" id="local-title">
        <h1><a routerLink="/home" title="Back to Complex Portal homepage">
          <img src="assets/images/logo.png" style="width: 43px; height: 63px;"> Complex Portal</a>
        </h1>
      </div>
      <!--/local-title -->

      <div class="columns medium-6">
        <cp-local-search></cp-local-search>
      </div>
    </div>
  </header>
  <!-- END COMPLEX PORTAL HEADER SECTION -->

  <!--  <cp-progress-bar></cp-progress-bar>-->
</div>

<!---->
<div id="content" role="main" class="row">

  <!-- local-nav -->
  <div class="masthead sticky-nav-container">
    <nav>
      <ul id="local-nav" class="dropdown menu float-left" data-dropdown-menu="true" data-description="navigational">
        <li routerLinkActive="active"><a routerLink="/home" routerLinkActive="active">Home</a></li>
        <li routerLinkActive="active"><a routerLink="/about" routerLinkActive="active">About</a></li>
        <li routerLinkActive="active"><a routerLink="/documentation" routerLinkActive="active">Documentation</a></li>
        <li routerLinkActive="active"><a routerLink="/basket" routerLinkActive="active"
                                         [ngClass]="{'animated flash': onChangeInBasket}">Basket
          <div routerLink="/basket" routerLinkActive="active" class="basket">
            &nbsp;<strong>{{ basketCount }}</strong>&nbsp;
          </div>
        </a>
        </li>
        <li routerLinkActive="active"><a href="{{complexPortalSupportUrl}}">Support <i class="icon icon-generic"
                                                                                       data-icon="x"></i></a></li>
      </ul>
    </nav>
  </div>

  <!-- /local-nav -->
  <!-- Suggested layout containers -->
  <section>
    <router-outlet></router-outlet>
    <!-- Routed views go here -->
  </section>
  <!-- End suggested layout containers -->
</div>


<!-- Local footer -->
<cp-local-footer [environmentName]="environmentName" [version]="version"></cp-local-footer>
