<div data-sticky-container>
  <div id="local-masthead" data-sticky data-sticky-on="large" data-top-anchor="180" data-btm-anchor="300000">
    <header>

      <div id="global-masthead" class="clearfix">
        <!--This has to be one line and no newline characters-->
        <a href="//www.ebi.ac.uk/" title="Go to the EMBL-EBI homepage"><span class="ebi-logo"></span></a>

        <nav>
          <div class="row">
            <ul id="global-nav" class="menu">
              <!-- set active class as appropriate -->
              <li id="home-mobile" class=""><a href="//www.ebi.ac.uk"></a></li>
              <li id="home" class="active"><a href="//www.ebi.ac.uk"><i class="icon icon-generic" data-icon="H"></i>
                EMBL-EBI</a></li>
              <li id="services"><a href="//www.ebi.ac.uk/services"><i class="icon icon-generic" data-icon="("></i>
                Services</a></li>
              <li id="research"><a href="//www.ebi.ac.uk/research"><i class="icon icon-generic" data-icon=")"></i>
                Research</a></li>
              <li id="training"><a href="//www.ebi.ac.uk/training"><i class="icon icon-generic" data-icon="t"></i>
                Training</a></li>
              <li id="about"><a href="//www.ebi.ac.uk/about"><i class="icon icon-generic" data-icon="i"></i> About
                us</a></li>
              <li id="search">
                <a data-toggle="search-global-dropdown"><i class="icon icon-functional" data-icon="1"></i>
                  <span class="show-for-small-only">Search</span></a>
                <div id="search-global-dropdown" class="dropdown-pane" data-dropdown data-options="closeOnClick:true;">
                  <form id="global-search" name="global-search" action="/ebisearch/search.ebi" method="GET">
                    <fieldset>
                      <div class="input-group">
                        <input type="text" name="query" id="global-searchbox" class="input-group-field"
                               placeholder="Search all of EMBL-EBI">
                        <div class="input-group-button">
                          <input type="submit" name="submit" value="Search" class="button">
                          <input type="hidden" name="db" value="allebi" checked="checked">
                          <input type="hidden" name="requestFrom" value="global-masthead" checked="checked">
                        </div>
                      </div>
                    </fieldset>
                  </form>
                </div>
              </li>
              <li class="float-right show-for-medium embl-selector">
                <button class="button float-right" type="button" data-toggle="embl-dropdown">Hinxton</button>
                <!-- The dropdown menu will be programatically added by script.js -->
              </li>
            </ul>
          </div>
        </nav>

      </div>

      <div class="masthead row">

        <!-- local-title -->
        <div class="columns medium-12" id="local-title">
          <h1>
            <a routerLink="/home" title="Back to [service-name] homepage">
              <img src="assets/images/logo.png" style="width: 43px; height: 63px;">
              Complex Portal
            </a>
            <i style="float: right; color: red" class="icon icon-generic" data-icon="&gt;"></i>
          </h1>

        </div>
        <!-- /local-title -->

        <!-- local-nav -->
        <nav>
          <ul class="dropdown menu float-left" data-description="navigational">
            <li><a routerLink="/home">Home</a></li>
            <li><a href="http://www.ebi.ac.uk/intact/complex/help/" target="_blank">Help</a></li>
            <li><a href="http://www.ebi.ac.uk/intact/complex/about/" target="_blank">About</a></li>
            <li><a routerLink="/basket">Basket</a></li>
            <li><a href="https://github.com/Complex-Portal/complex-portal-view/issues" target="_blank">Issues</a></li>
            <!--<li><a routerLink="/favorites">Favorites</a></li>-->
          </ul>
        </nav>
        <!-- /local-nav -->
      </div>
    </header>
  </div>
  <app-progress-bar></app-progress-bar>
</div>
<!---->
<div id="content" role="main" class="row">
  <!-- Suggested layout containers -->
  <section>
    <router-outlet></router-outlet>
  </section>
  <!-- End suggested layout containers -->

</div>

<footer>
  <!-- Optional local footer (insert citation / project-specific copyright / etc here -->
  <!--
        <div id="local-footer">
          <div class="row">
            <span class="reference">How to reference this page: ...</span>
          </div>
        </div>
   -->
  <!-- End optional local footer -->
  <!-- Optional local footer (insert citation / project-specific copyright / etc here -->
  <div id="local-footer">
    <div class="row padding-top-large padding-bottom-large">
      <div class="columns medium-12">
        <p class="label secondary-color padding-left-large columns small-10">Our contributors </p>
        <p class="label secondary-color padding-left-large columns small-2">{{version}}-{{environmentName}}</p>
        <table>
          <tbody>
          <tr>
            <td><a href="//www.ceitec.eu" target="_blank"><img src="assets/images/contributors/Ceitec.png"></a></td>
            <td><a href="//www.evidenceontology.org/" target="_blank"><img src="assets/images/contributors/eco.png"></a></td>
            <td><a href="//www.ucl.ac.uk/functional-gene-annotation/cardiovascular" target="_blank"><img
              src="assets/images/contributors/imex_acg_s.png"></a></td>
            <td><a href="//matrixdb.univ-lyon1.fr" target="_blank"><img
              src="assets/images/contributors/matrixdb.png"></a></td>
            <td><a href="//mint.bio.uniroma2.it" target="_blank"><img src="assets/images/contributors/Mint.png"></a>
            <td><a href="//www.uniprot.org" target="_blank"><img src="assets/images/contributors/uniprot.png"></a></td>
            <td><a href="//www.yeastgenome.org" target="_blank"><img src="assets/images/contributors/SGD.png"></a></td>
          </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>

  <div id="global-footer">

    <nav id="global-nav-expanded" class="row">
      <!-- Footer will be automatically inserted by footer.js -->
    </nav>

    <section id="ebi-footer-meta" class="row">
      <!-- Footer meta will be automatically inserted by footer.js -->
    </section>

  </div>

</footer>
