
<div data-sticky-container>
  <header id="masthead" class="masthead" data-sticky data-sticky-on="large" data-top-anchor="content:top" data-btm-anchor="content:bottom">
    <!-- COMPLEX PORTAL HEADER SECTION -->
    <div class="masthead-inner row"> <!-- expanded -->
      <!-- local-title -->
      <div class="columns medium-6" id="local-title">
        <h1><a routerLink="/home" title="Back to Complex Portal homepage">
            <img src="assets/images/logo.png" style="width: 43px; height: 63px;"> Complex Portal</a>
        </h1>
      </div>
      <!--/local-title -->

      <div class="columns medium-6">
        <cp-local-search></cp-local-search>
      </div>

      <!-- local-nav -->
      <nav>
        <ul id="local-nav" class="dropdown menu float-left" data-description="navigational">
          <li><a routerLink="/home">Home</a></li>
          <li><a routerLink="/about">About</a></li>
          <li><a href="https://github.com/Complex-Portal/complex-portal-view/issues" target="_blank">Feedback</a></li>
          <li><a [ngClass]="{'animated flash': onChangeInBasket}" routerLink="/basket">Basket
            <i class="label" style="border-radius: 2px; background-color: white">
              &nbsp;<strong>{{basketCount}}</strong>&nbsp;
            </i></a>
          </li>
        </ul>
      </nav>
      <!-- /local-nav -->
    </div>
  </header>
  <!-- END COMPLEX PORTAL HEADER SECTION -->

  <cp-progress-bar></cp-progress-bar>
</div>

<!---->
<div id="content" role="main" class="row">
  <!-- Suggested layout containers -->
  <section>
    <router-outlet></router-outlet>
    <!-- Routed views go here -->
  </section>
  <!-- End suggested layout containers -->
</div>


<!-- Local footer -->

<div class="row margin-top-medium expanded">

  <footer id="local-footer" class="local-footer row expanded" role="local-footer">
      <div class="row padding-top-large padding-bottom-large">
        <div class="columns medium-12">
          <p class="label secondary-color padding-left-large columns small-10">Our contributors </p>
          <p class="label secondary-color padding-left-large columns small-2">{{version}}-{{environmentName}}</p>
          <table>
            <tbody>
            <tr>
              <td><a href="//www.ceitec.eu" target="_blank"><img src="assets/images/contributors/Ceitec.png"></a></td>
              <td><a href="//www.evidenceontology.org/" target="_blank"><img src="assets/images/contributors/eco.png"></a>
              </td>
              <td><a href="//www.ucl.ac.uk/functional-gene-annotation/cardiovascular" target="_blank"><img
                src="assets/images/contributors/imex_acg_s.png"></a></td>
              <td><a href="//matrixdb.univ-lyon1.fr" target="_blank"><img
                src="assets/images/contributors/matrixdb.png"></a></td>
              <td><a href="//mint.bio.uniroma2.it" target="_blank"><img src="assets/images/contributors/Mint.png"></a>
              <td><a href="//www.ebi.ac.uk/pdbe/" target="_blank"><img src="assets/images/contributors/PDBe.png"></a>
              <td><a href="//www.yeastgenome.org" target="_blank"><img src="assets/images/contributors/SGD.png"></a></td>
              <td><a href="//www.sib.swiss" target="_blank"><img src="assets/images/contributors/sib.png"></a></td>
              <td><a href="//www.uniprot.org" target="_blank"><img src="assets/images/contributors/uniprot.png"></a></td>
            </tr>
            </tbody>
          </table>
        </div>
      </div>
  </footer>

</div>
