/* interactors column*/
td:first-child {
  position: sticky;
  left: 0;
  z-index: 3;
  border: 1px solid #0a494c;
  background-color: #e6e6e6;

  max-height: 50px;
  min-height: 50px;

  min-width: 100px;
  max-width: 100px;
}

/* cells */
td {
  padding-left: 5px;
  border: 1px solid #0a494c;
  height: 50px;
  max-width: 60px;
  min-width: 60px;
  font-size: small;
}

#interactors-table {
  width: 100%;
}

.stoichNum {
  width: 3ch;
  height: 3ch;
  border-radius: 3ch;
  background-color: #389198;
  text-align: center;
  color: #e6e6e6;
  font-size: small;
  z-index: 2;
  margin-left: auto;
  margin-right: auto;

}

.verticalLine {
  min-width: 52%;
  max-width: 52%;
  max-height: 50%;
  min-height: 50%;
  border-right: 5px solid #389198;
  z-index: 0;
}

.transparentVerticalLine {
  min-width: 52%;
  max-width: 52%;
  max-height: 50%;
  min-height: 50%;
  border-right: 0;
  /*border-right: 5px solid #983843;*/
  z-index: 0;
}


