table {
  --cols: 1;
  height: 1px;
  overflow: scroll;
}

.inheritedWidth {
  width: calc(200px + var(--cols) * 70px + 183px);
}

/* interactors column */
.interactorsColumn {
  position: sticky;
  left: 0;
  z-index: 5;
  height: 45px;
  min-width: 114px;
  max-width: 114px;
  padding: 5px;
  text-align: end;
  color: #0e6f76;
  font-weight: bold;
  background: inherit;
}

.interactorsColumn.fixedWidth {
  min-width: 230px;
  max-width: 230px;
}


.interactorsColumn a {
  font-weight: normal;
}

.intStoich {
  height: 100%;
  max-width: 70px;
  min-width: 70px;
  font-size: medium;
  text-align: end;
  z-index: 1;
}

.intStoich.fixedWidth {
  width: 70px;
}

i:not(.small) {
  font-size: large;
}

tr:nth-child(even) {
  background-color: #f7f7f7;
}

tr:nth-child(odd) {
  background-color: #fff;
}

a, a:visited {
  color: #0e6f76;
}

.spaceHolder {
  width: 183px;
}

.spaceHolder.sorting {
  width: calc(183px - 3ch);
}

.subComponentColumn {
  left: 0;
  z-index: 30;
  height: 45px;
  min-width: 230px;
  max-width: 230px;
  padding: 5px;
  text-align: end;
  color: #0e6f76;
  font-weight: bold;
  background: inherit;
  position: sticky
}

.expandedRows {
  color: #0e6f76;
  position: relative;
}

.firstExpandedRow:after {
  z-index: 40;
  content: '';
  position: absolute;
  inset: -2px -1px -2px -1px;
  pointer-events: none;
  background: linear-gradient(180deg, #0e6f7696 0px, transparent 10px);
}

.lastExpandedRow:after {
  z-index: 40;
  content: '';
  position: absolute;
  inset: -2px -1px -2px -1px;
  pointer-events: none;
  background: linear-gradient(0deg, #0e6f7696 0px, transparent 10px);
}

.singleExpandedRow:after {
  z-index: 40;
  content: '';
  position: absolute;
  inset: -2px -1px -2px -1px;
  pointer-events: none;
  background: linear-gradient(180deg, #0e6f7696 0px, transparent 10px), linear-gradient(0deg, #0e6f7696 0px, transparent 10px);
}

/* Interactors sorting label*/

.interactorSeparation {
  max-width: 3ch;
  min-width: 3ch;
  background-color: #0e6f76;
  border: 1px solid white;
  overflow: hidden;
  width: 1%;
  text-align: -webkit-center;
  position: sticky;
  z-index: 31;
  left: 0;
}

.interactorNameContainer,
.interactorSeparationName {
  --rowspanSize: 1;
  writing-mode: vertical-rl;
  transform: rotate(-180deg);
  font-size: small;
  color: white;
  line-height: 0.8;
  text-align: center;

  text-overflow: ellipsis;
  height: calc(var(--rowspanSize) * 48px);
  white-space: nowrap;
  overflow: hidden;

}

.container {
  font-size: 14px;
}

.horizontalHeader {
  min-width: 114px;
  max-width: 114px;
}

.horizontalHeader.fixedWidth {
  width: 230px;
  min-width: 230px;
  max-width: 230px;
}

/*/* NEEDED FOR SAFARI BROWSER*/
@supports (-webkit-hyphens:none) {
  .interactorsColumn {
    height: 45px !important;
  }

  .intStoich {
    height: 45px;
    overflow-y: visible;
  }
}
