td:first-child {
  position: sticky;
  left: 0;
  z-index: 30;
  max-height: 50px;
  min-height: 50px;
  min-width: 130px;
  max-width: 130px;
  padding: 5px;
  text-align: end;
  color: #0e6f76;
}

.intStoich {
  height: 50px;
  max-width: 100px;
  min-width: 100px;
  font-size: medium;
}

#interactors-table {
  width: 100%;
}

.stoichNum {
  width: 4ch;
  height: 4ch;
  border-radius: 4ch;
  background-color: #0e6f76;
  text-align: center;
  padding-top: 0.5ch;
  color: white;
  font-size: small;
  margin-left: auto;
  margin-right: auto;
}

.verticalLine, .transparentVerticalLine {
  margin-left: auto;
  margin-right: auto;
  min-width: 1%;
  max-width: 1%;
  max-height: 50%;
  min-height: 50%;
}

.verticalLine {
  border-right: 5px solid #0e6f76;
}

.transparentVerticalLine {
  border-right: 0;
}

i:not(.small) {
  font-size: large;
}

tr:nth-child(even) {
  background-color: #dfeced;
}

tr:nth-child(odd) {
  background-color: #f7f9fa;
}

.expandedRows {
  border-right: 4px solid #0e6f76;
  border-left: 4px solid #0e6f76;
  color: #0e6f76;
}

a, a:visited {
  color: #0e6f76;
}
