/* interactors column */
.interactorsColumn {
  position: sticky;
  left: 0;
  z-index: 30;
  max-height: 50px;
  min-height: 50px;
  min-width: 130px;
  max-width: 130px;
  padding: 5px;
  text-align: end;
  color: #0e6f76;
  font-weight: bold;
  background: inherit;
}

.interactorsColumn a {
  font-weight: normal;
}

.intStoich {
  height: 50px;
  max-width: 100px;
  min-width: 100px;
  font-size: medium;
  text-align: end;
}


.stoichNum {
  width: 4ch;
  height: 4ch;
  border-radius: 4ch;
  background-color: #0e6f76;
  text-align: center;
  padding-top: 0.5ch;
  color: white;
  font-size: small;
  margin-left: auto;
  margin-right: auto;
}

.verticalLine, .transparentVerticalLine {
  margin-left: auto;
  margin-right: auto;
  min-width: 1%;
  max-width: 1%;
  max-height: 50%;
  min-height: 50%;
}

.verticalLine {
  border-right: 5px solid #0e6f76;
}

.transparentVerticalLine {
  border-right: 0;
}

i:not(.small) {
  font-size: large;
}

tr:nth-child(even) {
  background-color: #dfeced;
}

tr:nth-child(odd) {
  background-color: #f7f9fa;
}

tbody.expandedRows {
  /*box-shadow: inset 0px 0px 16px 2px #0e6f76;*/
  color: #0e6f76;
  position: relative;
  /*filter: shadow(0.5);*/
}

tbody.expandedRows:before {
  content: '';
  position: absolute;
  inset: -2px -1px -2px -1px;
  /*background: #0e6f7612;*/
  /*box-shadow: inset 0 0 10px 2px #0e6f7696;*/
  background: linear-gradient(0deg, #0e6f7696 0px, transparent 10px),
    /*linear-gradient(90deg, #0e6f7696 0px, transparent 10px),*/ linear-gradient(180deg, #0e6f7696 0px, transparent 10px);
  /*linear-gradient(270deg, #0e6f7696 0px, transparent 10px);*/
  /*border-left: 4px solid #0e6f76;*/
}


a, a:visited {
  color: #0e6f76;
}


.interactorSeparation {
  min-width: 2ch;
  max-width: 2ch;
  background-color: #0e6f76;
  border: 1px solid white;
}

.interactorSeparationName {
  transform: rotate(-90deg);
  font-weight: lighter;
  font-size: small;
  color: white;
  line-height: 0.8;
  text-align: center;
}

.spaceHolder {
  width: 180px;
}
