table {
  height: 1px;
}

/* interactors column */
.interactorsColumn {
  position: sticky;
  left: 0;
  z-index: 3;
  max-height: 45px;
  min-height: 45px;
  min-width: 130px;
  max-width: 130px;
  padding: 5px;
  text-align: end;
  color: #0e6f76;
  font-weight: bold;
  background: inherit;
}

.interactorsColumn a {
  font-weight: normal;
}

.intStoich {
  height: 45px;
  max-width: 80px;
  min-width: 80px;
  font-size: medium;
  text-align: end;
  z-index: 1;
}

i:not(.small) {
  font-size: large;
}

tr:nth-child(even) {
  background-color: #dfeced;
}

tr:nth-child(odd) {
  background-color: #f7f9fa;
}

a, a:visited {
  color: #0e6f76;
}

.spaceHolder {
  width: 180px;
}

.subComponentColumn {
  left: 0;
  z-index: 30;
  max-height: 45px;
  min-height: 45px;
  min-width: 130px;
  max-width: 130px;
  padding: 5px;
  text-align: end;
  color: #0e6f76;
  font-weight: bold;
  background: inherit;
  position: sticky
}

.expandedRows {
  color: #0e6f76;
  position: relative;
}

.firstExpandedRow:after {
  z-index: 40;
  content: '';
  position: absolute;
  inset: -2px -1px -2px -1px;
  pointer-events: none;
  background: linear-gradient(180deg, #0e6f7696 0px, transparent 10px);
}

.lastExpandedRow:after {
  z-index: 40;
  content: '';
  position: absolute;
  inset: -2px -1px -2px -1px;
  pointer-events: none;
  background: linear-gradient(0deg, #0e6f7696 0px, transparent 10px);
}

/* Interactors sorting label*/

.interactorSeparation {
  max-width: 3ch;
  min-width: 3ch;
  background-color: #0e6f76;
  border: 1px solid white;
  overflow: hidden;
  width: 3ch;
  text-align: -webkit-center;
}

.interactorNameContainer,
.interactorSeparationName {
  --rowspanSize: 1;
  writing-mode: vertical-rl;
  transform: rotate(-180deg);
  /*font-weight: lighter;*/
  font-size: small;
  color: white;
  line-height: 0.8;
  text-align: center;


  text-overflow: ellipsis;
  height: calc(var(--rowspanSize) * 48px);
  white-space: nowrap;
  overflow: hidden;
}

.container {
  font-size: 14px;
}
