<ul class="goToMenu dropdown menu float-right" data-disable-hover="true" data-click-open="true"
  data-close-on-click-inside="true" data-dropdown-menu>
  <li>
    <a class="label" style="font-size: 1.1rem" (click)="doCheckSection()"><i class="icon icon-functional"
    data-icon="M"></i>Go to</a>
    <ul class="menu">
      <li>
        @if (sectionService.participantsSection) {
          <a (click)="scrollToElement('participants')"
            [ngClass]="{'selected': isSelected('Participants')}"
          >Components</a>
        }
      </li>
      <li>
        @if (sectionService.functionSection) {
          <a (click)="scrollToElement('function')"
            [ngClass]="{'selected': isSelected('Function')}"
          >Function</a>
        }
      </li>
      <li>
        @if (sectionService.propertiesSection) {
          <a (click)="scrollToElement('properties')"
            [ngClass]="{'selected': isSelected('Properties')}"
          >Properties</a>
        }
      </li>
      <li>
        @if (sectionService.expressionSection) {
          <a (click)="scrollToElement('expression')"
            [ngClass]="{'selected': isSelected('Expression and Cellular Location')}"
          >Expression and Cellular Location</a>
        }
      </li>
      <li>
        @if (sectionService.diseaseSection) {
          <a (click)="scrollToElement('disease')"
            [ngClass]="{'selected': isSelected('Diseases and Pathologies')}"
          >Diseases and Pathologies</a>
        }
      </li>
      <li>
        @if (sectionService.namesSection) {
          <a (click)="scrollToElement('references')"
            [ngClass]="{'selected': isSelected('Additional Information')}"
          >Additional Information</a>
        }
      </li>
    </ul>
  </li>
</ul>
