<ul class="goToMenu dropdown menu float-right" data-disable-hover="true" data-click-open="true"
    data-close-on-click-inside="true" data-dropdown-menu>
  <li>
    <a class="label" href="#"><i class="icon icon-functional" data-icon="M"></i>Go to</a>
    <ul class="menu">
      <li><a href="#">Participants</a></li>
      <li ><a class="selected" href="#">Function</a></li>
      <li><a href="#">Properties</a></li>
      <li><a href="#">Expression</a></li>
      <li><a href="#">Diseases and Pathologies</a></li>
      <li><a href="#">Names and Publications</a></li>
    </ul>
  </li>
</ul>
