@if (crossReferences) {
  <div class="row">
    <div class="columns medium-12 margin-top-medium no-pad-left">
      <h3>External Resources</h3>
      <table class="hover">
        <thead>
          <th>Identifier</th>
        </thead>
        <tbody>
          @for (crossReference of crossReferences; track crossReference.identifier) {
            <tr>
              <td>
                @if (!!crossReference.searchURL) {
                  <a href="{{crossReference.searchURL}}" target="_blank">
                    {{crossReference.identifier}} <i class="icon icon-generic small" data-icon="x"></i>
                  </a>
                }
                @if (!crossReference.searchURL) {
                  <span>{{crossReference.identifier}}</span>
                }
              </td>
            </tr>
          }
        </tbody>
      </table>
    </div>
  </div>
}
