h3 {
  --size: 40px;

  width: var(--size);
  height: var(--size);
  font-size: calc(var(--size) * 0.6);
  align-content: center;
  text-align: center;
  -moz-border-radius: 100px;
  -webkit-border-radius: 100px;
  border-radius: 100px;
  -moz-box-shadow: 0px 0px 2px #000000;
  -webkit-box-shadow: 0px 0px 2px #000000;
  box-shadow: 0px 0px 2px #000000;
}


.container {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-end;
  gap: 15px;
  align-items: center;
}

.evidence {
  width: fit-content;
}

.no-bottom-margin {
  margin-bottom: 0;
}

.stars {
  display: flex;
  gap: 4px;
}

.stars .icon {
  font-size: 16pt;
}

.empty {
  color: lightgray;
}

.full {
  color: var(--primary);
  -webkit-text-stroke: 1px var(--on-primary);
  text-shadow: 0 0 4px var(--primary);

  /** GOLD SKEUOMORPHISM **/

  /*-webkit-text-stroke: 1px goldenrod;*/
  /*background: linear-gradient(133deg, goldenrod 42%, gold, goldenrod 66%);*/
  /*-webkit-background-clip: text;*/
  /*background-clip: text;*/
  /*-webkit-text-fill-color: transparent;*/
}

