<div class="row no-pad-left" *ngIf="ecoXRef || intactXRefs">
  <span class="icon icon-functional" data-icon="A">
    Evidence by
    <a href="{{ecoXRef.searchURL}}"
       target="_blank"> {{ecoXRef.description ? ecoXRef.description : ecoXRef.identifier }} <i
      class="icon icon-generic small" data-icon="x"></i></a>
    <ng-container *ngIf="intactXRefs">
      in IntAct
      <ng-container *ngFor="let crossReference of intactXRefs;let isLast=last">
        <a href="{{crossReference.searchURL}}" target="_blank"> {{crossReference.identifier}} <i
          class="icon icon-generic small" data-icon="x"></i></a>{{isLast ? '' : ', '}}
      </ng-container>
    </ng-container>
  </span>
</div>
