/* Header */

.CN-table {
  transform: rotateX(180deg); /* rotate the header's content to make it it the right sense (when removes, it is upside down) */
}

thead {
  border: 0;
  background-color: white;
  border-right: 0 solid white;
}

.CN-table {
  clip-path: fill-box;
}

/* Rotated complexes names */

.interactorsHeader {
  min-width: 130px;
  max-width: 130px;
  position: sticky;
  left: 0;
  z-index: 4;
  color: #007c82;
  background-color: white;
  padding-top: 150px;
  text-align: right;
  border-bottom: 3px solid #007c82;
}

.tilted-label {
  padding-left: 5px;
  text-overflow: ellipsis;
  width: 28ch;
  white-space: nowrap;
  overflow: hidden;
}


.CN-table .tableHeadOverflow tr {
  --cols: 1;
  display: grid;
  grid-template-columns: 130px repeat(auto-fit, 100px);
  width: calc(130px + 100px * var(--cols) + 185px);
}

.CN-table .tableHeadOverflow th.rotate {
  position: relative;
  width: 340px;
  height: 72px !important;
  color: white;
  font-size: 14px;
  text-align: left;
  border-top: 1px solid white;
  top: 55px;
  left: -27px;
  display: flex;
  align-items: center;
  align-content: center;
  padding: 0;
  transform: rotate(-45deg);
  /* line */
  border-top: 1px solid white;
}

.CN-table .tableHeadOverflow th.rotate a {
  width: 100%;
  height: 100%;
  align-content: center;
  background-color: #007c82;
  padding: 0 0 0 70px;
}

/* Horizontal complexes name */

.CN-table th.horizontal.interactorsHeader {
  padding: 5px;
  min-width: 130px;
  max-width: 130px;
  font-size: medium;
  border-bottom: 3px solid #007c82;
  border-left: none;
  text-align: right;
  color: #007c82;
  background-color: white;
}

.horizontal-label {
  text-align: center;
  text-overflow: ellipsis;
  width: 90%;
  white-space: nowrap;
  overflow: hidden;
  margin: auto;
}

.CN-table th.horizontal {
  color: white;
  background-color: #007c82;
  border: 1px solid white;
  min-width: 100px;
  max-width: 100px;
  height: 50px;
  font-size: 15px;
}

a:visited {
  color: white;
}

a {
  color: white;
}

.spaceHolder {
  width: 180px;
  background-color: white;
}
