.CN-table {
  transform: rotateX(180deg); /* rotate the header's content to make it it the right sense (when removes, it is upside down) */
}

thead {
  border: 0;
  background-color: white;
  border-right: 0 solid white;
  overflow: scroll;

}

.CN-table {
  clip-path: fill-box;
  overflow: scroll;
}

.spaceHolderSorting {
  width: 3ch;
  border-bottom: 3px solid #007c82;
}

/* Rotated complexes names */

.spaceHolderHeaderOverflow {
  min-width: 130px;
  max-width: 130px;
  position: sticky;
  left: 0;
  z-index: 4;
  color: #007c82;
  background-color: white;
  padding-top: 173px;
  text-align: right;
}

.iconOrganism {
  position: sticky;
  text-align: center;
  background-color: #007c82;
  color: white;
  border-left: 1px solid white;
  font-size: medium;
  height: 60px;
}

.tilted-label {
  text-overflow: ellipsis;
  width: 28ch;
  white-space: nowrap;
  overflow: hidden;
}

.CN-table .tableHeadOverflow tr {
  --cols: 1;
  --intHeader: 130px;
  --parentWidth: 100%;
  --sizeSpaceHolder: calc(var(--parentWidth) - 70px * var(--cols) - var(--intHeader));
  display: grid;
  grid-template-columns: var(--intHeader) repeat(auto-fit, 70px);
  width: calc(var(--intHeader) + 70px * var(--cols) + var(--sizeSpaceHolder));
  overflow: hidden;
}

.CN-table .tableHeadOverflowWithSorting tr {
  --cols: 1;
  --intHeader: 130px;
  --parentWidth: 100%;
  --sizeSpaceHolder: calc(var(--parentWidth) - 70px * var(--cols) - var(--intHeader));
  display: grid;
  grid-template-columns: var(--intHeader) repeat(auto-fit, 70px);
  width: calc(var(--intHeader) + 70px * var(--cols) + var(--sizeSpaceHolder) - 3ch);
  overflow: hidden;
}

.CN-table .tableHeadOverflow th.rotate {
  position: relative;
  width: 350px;
  height: 51px !important;
  color: white;
  font-size: 14px;
  text-align: left;
  border: 1px solid white;
  top: 70px;
  left: -52px;
  display: flex;
  align-items: center;
  align-content: center;
  padding: 0;
  transform: rotate(-45deg);
  border-collapse: collapse;
}

.CN-table .tableHeadOverflow th.rotate a {
  width: 100%;
  height: 100%;
  align-content: center;
  background-color: #007c82;
  padding: 0 0 0 70px;
  border: none;
}

.spaceHolder {
  width: 1000px;
  background-color: #007c82;
  border-left: 1px solid white;
}

.interactorsHeader.overflow {
  min-width: 130px;
  max-width: 130px;
  width: 130px;
  position: sticky;
  left: 0;
  z-index: 4;
  background-color: white;
  border-bottom: 3px solid #007c82;
  height: 60px;
  line-height: 70px;
  text-align: right;
  color: #007c82;
}

/* Horizontal complexes name */

.CN-table th.horizontal.interactorsHeader {
  padding: 5px;
  min-width: 130px;
  max-width: 130px;
  font-size: medium;
  border-left: none;
  text-align: right;
  color: #007c82;
  background-color: white;
  border-bottom: 3px solid #007c82;
}

.horizontal-label {
  text-align: center;
  text-overflow: ellipsis;
  width: 90%;
  white-space: nowrap;
  overflow: hidden;
  margin: auto;
}

.CN-table th.horizontal {
  color: white;
  background-color: #007c82;
  border-left: 1px solid white;
  min-width: 80px;
  max-width: 80px;
  height: 35px;
  font-size: 15px;
}

a:visited {
  color: white;
}

a {
  color: white;
}

.basketButton {
  padding: 0;
  margin: 0;
}


.hidden {
  display: none;
}

.button {
  padding: 0;
  margin: 0;
}

