.CN-table {
  transform: rotateX(180deg); /* rotate the header's content to make it it the right sense (when removes, it is upside down) */
}

thead {
  border: 0;
  background-color: white;
  border-right: 0 solid white;
  overflow: scroll;

}

.CN-table {
  clip-path: fill-box;
  overflow: scroll;
}

.spaceHolderSorting {
  width: 3ch;
  border-bottom: 3px solid var(--primary);
}

/* Rotated complexes names */

.spaceHolderHeaderOverflow {
  min-width: 130px;
  max-width: 130px;
  position: sticky;
  left: 0;
  z-index: 4;
  color: var(--primary);
  background-color: var(--on-primary);
  padding-top: 173px;
  text-align: right;
}

.iconOrganism {
  position: sticky;
  text-align: center;
  background-color: var(--primary);
  color: var(--on-primary);
  border-left: 1px solid white;
  font-size: medium;
  height: 60px;
}

.tilted-label {
  text-overflow: ellipsis;
  width: 28ch;
  white-space: nowrap;
  overflow: hidden;
}

.CN-table .tableHeadOverflow tr {
  --cols: 1;
  --intHeader: 130px;
  --parentWidth: 100%;
  --col-width: max(calc(1000px / var(--cols)), 70px);
  --sizeSpaceHolder: calc(var(--parentWidth) - var(--col-width) * var(--cols) - var(--intHeader));
  display: grid;
  grid-template-columns: var(--intHeader) repeat(auto-fit, var(--col-width));
  width: calc(var(--intHeader) + var(--col-width) * var(--cols) + var(--sizeSpaceHolder));
  overflow: hidden;
}

.CN-table .tableHeadOverflowWithSorting tr {
  --cols: 1;
  --intHeader: 130px;
  --parentWidth: 100%;
  --col-width: max(calc(1000px / var(--cols)), 70px);
  --sizeSpaceHolder: calc(var(--parentWidth) - var(--col-width) * var(--cols) - var(--intHeader));
  display: grid;
  grid-template-columns: var(--intHeader) repeat(auto-fit, var(--col-width));
  width: calc(var(--intHeader) + var(--col-width) * var(--cols) + var(--sizeSpaceHolder) - 3ch);
  overflow: hidden;
}

.CN-table .tableHeadOverflow th.rotate {
  --col-width: max(calc(228px + calc(1720px / var(--cols))), 350px);
  --col-left: max(calc(728px / var(--cols)), 52px);
  --col-height: max(calc(var(--col-left) - 1px), 51px);
  position: relative;
  width: var(--col-width);
  height: var(--col-height) !important;
  color: var(--on-primary);
  font-size: 14px;
  text-align: left;
  border: 1px solid white;
  top: 70px;
  left: calc(-1 * var(--col-left));
  display: flex;
  align-items: center;
  align-content: center;
  padding: 0;
  transform: rotate(-45deg);
  border-collapse: collapse;
}

.CN-table .tableHeadOverflow th.rotate a {
  --col-width: max(calc(1150px / var(--cols)), 70px);
  width: 100%;
  height: 100%;
  align-content: center;
  background-color: var(--primary);
  padding: 0 0 0 var(--col-width);
  border: none;
}

.spaceHolder {
  width: 183px;
  background-color: var(--primary);
  border-left: 1px solid white;
}

.interactorsHeader.overflow {
  --col-width: max(calc(1000px / var(--cols)), 70px);
  min-width: 130px;
  max-width: 130px;
  width: 130px;
  position: sticky;
  left: 0;
  z-index: 4;
  background-color: var(--on-primary);
  border-bottom: 3px solid var(--primary);
  height: 60px;
  line-height: var(--col-width);
  text-align: right;
  color: var(--primary);
}

/* Horizontal complexes name */

.CN-table th.horizontal.interactorsHeader {
  padding: 5px;
  min-width: 130px;
  max-width: 130px;
  font-size: medium;
  border-left: none;
  text-align: right;
  color: var(--primary);
  background-color: var(--on-primary);
  border-bottom: 3px solid var(--primary);
}

.horizontal-label {
  text-align: center;
  text-overflow: ellipsis;
  width: 90%;
  white-space: nowrap;
  overflow: hidden;
  margin: auto;
  display: block;
}

.CN-table th.horizontal {
  color: white;
  background-color: var(--primary);
  border-left: 1px solid white;
  min-width: 80px;
  max-width: 80px;
  height: 35px;
  font-size: 15px;
}

a:visited {
  color: var(--on-primary);
}

a {
  color: var(--on-primary);
}


.basket-icons {
  margin-left: 5px;
}

.button {
  padding: 0;
  margin: 0;
}

.basketButton {
  text-align: center;
}

.iconOrganismImg {
  filter: var(--svg-colour-invert);
}
