/* STYLESHEET FOR WHEN THE NUMBERS OF COMPLEXES IN A SEARCH IS UNDER 6*/

/* "Complexes" Header */
.compHeader {
  position: sticky;
  top: 0;
  z-index: 3;
  height: 40px;
  text-align: left;
  font-size: medium;
  border: 1px solid #0a494c;
  padding-left: 10px;
}

/* "Interactors" Header */
.interactorsHeader {
  position: sticky;
  top: 0;
  left: 0;
  z-index: 4;

  font-size: medium;
  border: 1px solid #0a494c;


  min-width: 130px;
  max-width: 130px;

}

/* "Complexes from results Headerr */
th {
  position: sticky;
  z-index: 2;
  text-align: center;
  top: 0;
  background-color: white;
  border: 1px solid #0a494c;
  min-width: 100px;
  max-width: 100px;
  height: 200px;
  font-size: small;
  padding-left: 5px;
  padding-right: 5px;
}

th .txt {
  text-align: center;
  width: 100%;
  height: 200%;
  color: #e6e6e6;

}

#CN-table {
  width: 100%;
}
