<div class="row">
  <div class="columns medium-12 no-pad-left">
    <div class="columns medium-7 no-pad-left">
      <div id="diagramHolder"></div>
    </div>
    <div class="columns medium-5 no-pad-left">
      <div class="columns medium-12">
        <h5>Selected Complex:</h5>
        <p>
          <b>Stable Identifier: </b>{{reactomeComplexe[selectedComplex].id}} <br>
          <b>Name: </b>{{reactomeComplexe[selectedComplex].name}}
        </p>
      </div>
      <div class="columns medium-12">
        <h5>Selected Pathway:</h5>
        <p>
          <b>Stable Identifier: </b>{{reactomePathways[selectedPathway].id}} <br>
          <b>Name: </b>{{reactomePathways[selectedPathway].name}}
        </p>
      </div>
      <div class="columns medium-12">
        <a href="{{getReactomeURL()}}" target="_blank">Open in Reactome</a>
      </div>
    </div>
  </div>
</div>
