@use '~@angular/material' as mat;

@include mat.core();

$cp-app-primary: mat.define-palette(mat.$teal-palette);
$cp-app-accent: mat.define-palette(mat.$blue-palette, A200, A100, A400);

$cp-app-warn: mat.define-palette(mat.$red-palette);

$cp-app-theme: mat.define-light-theme($cp-app-primary, $cp-app-accent, $cp-app-warn);

@include mat.all-component-themes($cp-app-theme);
