<div class="row">
  @if (synonyms.length !== 0) {
    <div class="columns medium-12 no-pad-left">
      <h3>Synonyms ({{synonyms.length}})</h3>
      <table class="hover">
        <tbody>
          @for (synonym of synonyms | slice:0:displayedElements; track synonym) {
            <tr>
              <td>
                {{synonym}}
              </td>
            </tr>
          }
          @if (displayedElements < synonyms.length) {
            <tr class="text-center"  style="background: white">
              <td>
                <a class="label" (click)="displayedElements = synonyms.length">Show all</a>
              </td>
            </tr>
          }
        </tbody>
      </table>
    </div>
  }
</div>
