/* You can add global styles to this file, and also import other style files */
@import "~litemol/dist/css/LiteMol-plugin-light.min.css";

.mat-tooltip {
  background-color: #353535 !important;
  font-size: 10pt !important;
}

.no-padding {
  padding: 0 !important;
}

/*based on https://github.com/ebiwd/EBI-Pattern-library/issues/25#issuecomment-287742227*/
.button.ebi-background:hover {
  background: var(--primary);
}

.button.services-background:hover {
  background: #389198;
}

.button.research-background:hover {
  background: #6dab49;
}

.button.training-background:hover {
  background: #e9b400;
}

.button.industry-background:hover {
  background: #0086b4;
}

.button.elixir-background:hover {
  background: #fb6a2a;
}

.button.white-background:hover {
  background: white;
}

.button.secondary-background:hover {
  background: #666;
}

.button.medium-gray-background:hover {
  background: #999;
}

.toast-right-under-header {
  right: 10px;
  top: 225px;
}
