<div class="row">
  <div class="columns medium-12 no-pad-left">
    <!-- local-search -->
    <!-- if you do not have a local-search, delete the following form -->
    <form id="local-search" name="local-search" action="[search-action]" method="post">
      <h4>Search in Complex Portal</h4>
      <fieldset>
        <div class="input-group">
          <input type="text" name="first" rows="2" #query id="local-searchbox"
                 placeholder="GO term(s), Gene name(s), UniProt AC(s), Protein name(s), Protein name(s), Complex AC">
          <div class="input-group-button">
            <input type="button" name="submit" value="1" (click)="search(query.value)"
                   class="button icon icon-functional">
          </div>
        </div>
      </fieldset>
    </form>
    <div class="columns callout medium-12 margin-bottom-none">
      <h5><i class="icon icon-generic padding-right-medium" data-icon="?"></i>Examples:</h5>
      <div class="columns medium-6">
        <ul>
          <li>GO term(s): <a [routerLink]="['/search']" [queryParams]="{query: 'GO:0016491'}" >GO:0016491</a></li>
          <li>Gene name(s): <a [routerLink]="['/search']" [queryParams]="{query: 'Ndc80'}">Ndc80</a></li>
          <li>UniProt AC(s): <a [routerLink]="['/search']" [queryParams]="{query: 'Q05471'}">Q05471</a></li>
        </ul>
      </div>
      <div class="columns medium-6">
        <ul>
          <li>Protein name(s): <a [routerLink]="['/search']" [queryParams]="{query: 'PCNA'}">PCNA</a></li>
          <li>Complex AC: <a [routerLink]="['/search']" [queryParams]="{query: 'EBI-9008420'}">EBI-9008420</a></li>
        </ul>
      </div>
    </div>
  </div>
</div>
