<div class="row">
  <div class="columns medium-12 no-pad-left no-pad-right">
    <!-- local-search -->
    <!-- if you do not have a local-search, delete the following form -->
    <form id="content-search" name="content-search" action="[search-action]" method="post">
      <h2>Search in Complex Portal</h2>
      <fieldset>
        <div class="input-group margin-bottom-none">
          <input #query type="text" name="first" id="content-searchbox" class="input-group-field"
                 placeholder="GO term(s), Gene name(s), UniProt AC(s), Protein name(s), Protein name(s), Complex AC">
          <div class="input-group-button">
            <input type="button" name="submit" value="1" (click)="search(query.value)"
                   class="button icon icon-functional">
          </div>
        </div>
      </fieldset>
    </form>
  </div>
</div>
