<div class="row">
  <div class="columns medium-12 no-pad-right">
    <div class="columns medium-12 callout">
      <div class="columns medium-6">
        <h5>Selected Complex:</h5>
        <p>
          <b>Stable Identifier: </b><a
          href="http://www.reactome.org/content/detail/{{reactomeComplexe[selectedComplex].id}}" target="_blank">{{reactomeComplexe[selectedComplex].id}}
          <i class="icon icon-generic small" data-icon="x"></i></a><br>
          <b>Name: </b>{{reactomeComplexe[selectedComplex].name}}
        </p>
      </div>
      <div class="columns medium-6">
        <h5>Selected Pathway:</h5>
        <p>
          <b>Stable Identifier: </b><a
          href="http://www.reactome.org/content/detail/{{reactomePathways[selectedPathway].id}}" target="_blank">{{reactomePathways[selectedPathway].id}}
          <i class="icon icon-generic small" data-icon="x"></i></a><br>
          <b>Name: </b>{{reactomePathways[selectedPathway].name}}
        </p>
      </div>
    </div>
    <div #diagramHolder class="columns medium-12">
      <div id="diagramHolder"></div>
    </div>
  </div>
</div>
