.definition {
  background: #cde4e5;
  font-family: "Lato-Regular", Helvetica, Arial, sans-serif;
  border-radius: 4px;
  vertical-align: middle;
  padding: 15px
}

.alert-message {
  display: inline-flex;
}

.alert-button-div {
  padding-left: 16px;
}

.alert-button {
  font-size: large;
}
