<section>
  <div id="main-content-area">

    <div class="row">
      <div class="columns medium-9">
        <div class="columns medium-12 no-pad-left no-pad-right padding-top-xsmall padding-bottom-small">
          <h1>Explore the Complex Portal</h1>
          <p>
            The Complex Portal is a manually curated, encyclopaedic resource of macromolecular complexes from a number
            of key model organisms. The majority of complexes are made up of proteins but may also include nucleic acids
            or small molecules. All data is freely available for search and <a class="readmore" routerLink="/download">download</a>.
          </p>
          <div id="cp-definition" class="definition padding-bottom-xlarge padding-top-xlarge">
            <i>Complexes are defined as an assembly of any two or more proteins and/or nucleic acids that are stable enough
            in vitro to be reconstituted and have been demonstrated to have a specific molecular function.</i>
          </div>
          <p class="padding-top-large">
            To perform a search for macromolecular complexes use the search box below. Read more
            <a class="readmore" routerLink="/about">here</a>.
          </p>
        </div>
        <div class="columns medium-12">
          <cp-search></cp-search>
        </div>
        <div class="columns medium-12 margin-top-xlarge">
          <cp-tile-menu></cp-tile-menu>
        </div>
      </div>

      <div class="columns medium-3">
        <div class="columns medium-12">
          <cp-newsletter-subscription></cp-newsletter-subscription>
        </div>
        <div class="columns medium-12">
          <cp-twitter-display></cp-twitter-display>
        </div>
      </div>
    </div>
  </div>
</section>
