<section>
  <!-- Your menu structure should make a breadcrumb redundant, but if a breadcrumb is needed uncomment the below -->
  <!--<nav aria-label="You are here:" role="navigation">-->
    <!--<ul class="breadcrumbs">-->
      <!--<li>-->
        <!--<span class="displayedElements-for-sr">Current: </span> Complex Portal-->
      <!--</li>-->
    <!--</ul>-->
  <!--</nav>-->
  <div id="main-content-area">
    <div class="row">
      <div class="columns medium-9">
        <div class="columns medium-12 no-pad-left">
          <h5>
            The Complex Portal is a manually curated, encyclopaedic resource of macromolecular complexes from a number
            of
            key model organisms. All data is freely available for search and download. To perform a search for
            macromolecular complexes use the search box below.
          </h5>
        </div>
        <div class="columns medium-12 ">
          <app-search></app-search>
          <app-examples-large></app-examples-large>
        </div>
        <div class="columns medium-12 no-pad-left no-pad-right">
          <app-tile-menu></app-tile-menu>
        </div>
        <!--<div class="columns medium-12 no-pad-left">-->
          <!--<app-contributors-display></app-contributors-display>-->
        <!--</div>-->
      </div>
      <div class="columns medium-3">
        <div class="columns medium-12">
          <app-newsletter-subscription></app-newsletter-subscription>
        </div>
        <div class="columns medium-12">
          <app-twitter-display></app-twitter-display>
        </div>
      </div>
    </div>
    <!--<div class="row">-->
      <!--<div class="columns medium-12">-->
      <!--</div>-->
    <!--</div>-->
  </div>
</section>
