<section>
  <div id="main-content-area">
    <div class="row">
      <div class="columns medium-9">
        <div class="columns medium-12 intro-unit no-pad-left padding-top-xsmall padding-bottom-small">
          <h2>Explore the Complex Portal</h2>
          <p class="lead">
            The Complex Portal is a manually curated, encyclopaedic resource of macromolecular complexes from a number
            of key model organisms. The majority of complexes are made up of proteins but may also include nucleic acids
            or small molecules. All data is freely available for search and download. To perform a search for
            macromolecular complexes use the search box below. Read more <a routerLink="/about">here</a>.
          </p>
        </div>
        <div class="columns medium-12 ">
          <cp-search></cp-search>
        </div>
        <div class="columns medium-12 no-pad-left no-pad-right">
          <cp-tile-menu></cp-tile-menu>
        </div>
      </div>
      <div class="columns medium-3">
        <div class="columns medium-12">
          <cp-newsletter-subscription></cp-newsletter-subscription>
        </div>
        <div class="columns medium-12">
          <cp-twitter-display></cp-twitter-display>
        </div>
      </div>
    </div>
  </div>
</section>
