/* Custom tag for COVID banner */
.banner-tag {
  /*background: #dabc3d;*/
  background: #ffa232;
  padding: 0.3rem 0.3rem;
  line-height: 0.6rem;
  font-size: 0.8rem;
}

.covid-banner {
  background: #fcefa1;
  border-color: gold;
  border-style: solid;
  border-width: 2px;
  vertical-align: middle;
  padding: 6px
}

.survey-banner {
  background: #d3dfff;
  border-color: #1f77b4;
  border-style: solid;
  border-width: 2px;
  vertical-align: middle;
  padding: 6px
}

.definition {
  background: #cde4e5;
  font-family: "Lato-Regular", Helvetica, Arial, sans-serif;
  border-radius: 4px;
  vertical-align: middle;
  padding: 15px
}
