<div class="row">
  <div class="columns medium-12 no-pad-left">
    <div class="columns medium-6 no-pad-left no-pad-right">
      @if (molecularFunctions) {
        <cp-go-molecular-function
        [crossReferences]="molecularFunctions"></cp-go-molecular-function>
      }
    </div>
    <div class="columns medium-6 no-pad-left no-pad-right">
      @if (biologicalProcess) {
        <cp-go-biological-process [crossReferences]="biologicalProcess"></cp-go-biological-process>
      }
    </div>
  </div>
</div>
