<div class="row">
  <div class="columns medium-12 no-pad-left">
    <h3>Antagonists ({{antagonists.length}})</h3>
    <table class="hover">
      <tbody>
        @for (antagonist of antagonists | slice:0:displayedElements; track antagonist) {
          <tr>
            <td>
              {{antagonist}}
            </td>
          </tr>
        }
        @if (displayedElements < antagonists.length) {
          <tr class="text-center" style="background: white">
            <td>
              <a class="label" (click)="displayedElements = antagonists.length">Show all</a>
            </td>
          </tr>
        }
      </tbody>
    </table>
  </div>
</div>
