<div class="row">
  <div class="columns medium-12 no-pad-left">
    <h3>Antagonists ({{antagonists.length}})</h3>
    <table class="hover">
      <tbody>
      <tr *ngFor="let antagonist of antagonists | slice:0:displayedElements">
        <td>
          {{antagonist}}
        </td>
      </tr>
      <tr class="text-center" style="background: white" *ngIf="displayedElements < antagonists.length">
        <td>
          <a class="label" (click)="displayedElements = antagonists.length">Show all</a>
        </td>
      </tr>
      </tbody>
    </table>
  </div>
</div>
