<div class="row button-grid small-up-12 medium-up-12 large-up-12" data-equalizer
     data-equalize-on="medium" id="large-button-grid">
  <div class="columns small-6 medium-3 no-pad-left">
    <a class="button secondary expanded" data-equalizer-watch (click)="onExpandAll()">Expand All</a>
  </div>
  <div class="columns small-6 medium-3 no-pad-left">
    <a class="button secondary expanded" data-equalizer-watch (click)="downloadAsSVG()">Export SVG</a>
  </div>
  <div class="columns small-6 medium-3 no-pad-left">
    <a class="button secondary expanded" data-equalizer-watch (click)="onReset()">Reset</a>
  </div>
  <div class="columns small-6 medium-3 no-pad-left">
    <a class="button secondary expanded" data-equalizer-watch (click)="featureNotAvailableYet()">Enlarge</a>
  </div>
  <div class="columns medium-12 no-pad-left">
    <select (change)="onChangeAnnotation($event.target.value)">
      <option value="MI features" selected='selected'>MI features</option>
      <option value="UniprotKB">UniProtKB</option>
      <option value="SuperFamily">SuperFamily</option>
      <option value="Interactor">Interactor</option>
      <option value="None">None</option>
    </select>
  </div>
  <div class="columns medium-12 no-pad-left">
    <div *ngIf="complexMIJSON">
      <div id="networkContainer"></div>
    </div>
  </div>
</div>
