<div [hidden]="!display" id="local-search" name="local-search">
  <fieldset>
    <div class="input-group margin-bottom-none">
      <input #searchTerm type="text" name="first" id="local-searchbox" placeholder="Search this service"
             value="{{query}}"
             class="input-group-field" (keydown.enter)="search(searchTerm.value, 'enter')">
      <div class="input-group-button">
        <input type="button" name="submit" value="1" (click)="search(searchTerm.value, 'button')"
               class="button icon icon-functional"></div>
    </div>
    <small class="">
      <!-- If your search is more complex than just a keyword search, you can link to an Advanced Search -->
      <!-- <span class="adv"><a href="../search" id="adv-search" title="Advanced">Advanced</a></span> | -->
      <!-- Include some example searchterms - keep them short and few. -->
      <a (click)="search('GO:0016491', 'example')">GO:0016491</a>
      <a (click)="search('Ndc80', 'example')">Ndc80</a>
      <a (click)="search('Q05471', 'example')">Q05471</a>
      <a (click)="search('PCNA', 'example')">PCNA</a>
      <a (click)="search('EBI-9008420', 'example')">EBI-9008420</a>
    </small>
  </fieldset>
</div>
<!-- /local-search -->
