<div class="row">
  <div class="columns medium-12 no-pad-left no-pad-right">
    <!-- local-search -->
    <!-- if you do not have a local-search, delete the following form -->
    <div id="content-search" name="content-search" >
      <fieldset>
        <div class="input-group margin-bottom-none">
          <input #query type="text" name="first" id="content-searchbox" class="input-group-field" (keydown.enter)="search(query.value, 'enter')"
                 placeholder="GO term(s), Gene name(s), UniProt AC(s), Protein name(s), Protein name(s), Complex AC">
          <div class="input-group-button">
            <input type="button" name="submit" value="1" (click)="search(query.value, 'button')"
                   class="button icon icon-functional">
          </div>
        </div>
      </fieldset>
    </div>
  </div>
  <div class="columns callout medium-12 margin-bottom-none">
    <h5><i class="icon icon-generic padding-right-medium" data-icon="?"></i>Examples:</h5>
    <div class="columns medium-6">
      <ul>
        <li>GO term(s): <a (click)="search('GO:0016491', 'example')">GO:0016491</a></li>
        <li>Gene name(s): <a (click)="search('Ndc80', 'example')">Ndc80</a></li>
        <li>UniProt AC(s): <a (click)="search('Q05471', 'example')">Q05471</a></li>
        <li>Protein name(s): <a (click)="search('PCNA', 'example')">PCNA</a></li>
      </ul>
    </div>
    <div class="columns medium-6 no-pad-left">
      <ul>
        <li>Complex AC: <a (click)="search('CPX-2158', 'example')">CPX-2158</a></li>
        <li>Complex Name: <a (click)="search('nuclear pore', 'example')">nuclear pore</a></li>
        <li>List of ACs: <a (click)="search('Q15554, P54274, Q96AP0', 'example')">Q15554, P54274, Q96AP0</a></li>
      </ul>
    </div>
  </div>
</div>
