<div class="row">
  <div class="columns medium-12 no-pad-left">
    <h3>Ligands ({{ligands.length}})</h3>
    <table class="hover">
      <tbody>
        @for (ligand of ligands | slice:0:displayedElements; track ligand) {
          <tr>
            <td>
              {{ligand}}
            </td>
          </tr>
        }
        @if (displayedElements < ligands.length) {
          <tr class="text-center" style="background: white">
            <td>
              <a class="label" (click)="displayedElements = ligands.length">Show all</a>
            </td>
          </tr>
        }
      </tbody>
    </table>
  </div>
</div>
