<div class="reveal large" id="downloadModal" data-reveal>
  <h3>Download</h3>
  <p class="lead">
    Download this complex in PSI-MI XML 2.5 & 3.0, ComplexTab or PSI-MI JSON. If you would like to learn more about our
    download options, please have a look to our <a class="readmore" routerLink="/download">programmatic access section</a>.
  </p>
  <div class="row button-grid small-up-1 medium-up-4 large-up-4 margin-top-xlarge no-pad-right"
       data-equalize-on="medium" id="large-button-grid">
    <div class="column  padding-bottom-large">
      <a class="button medium-12 columns text-center disabled" (click)="goToComplexPSI25()">
        <h3 class="icon icon-fileformats  white-color" data-icon="1"></h3>
        <h5 class="white-color">PSI-MI XML 2.5</h5>
      </a>
    </div>
    <div class="column  padding-bottom-large">
      <a class="button medium-12 columns text-center disabled"
         (click)="goToComplexPSI30()">
        <h3 class="icon icon-fileformats  white-color" data-icon="1"></h3>
        <h5 class="white-color">PSI-MI XML 3.0</h5>
      </a>
    </div>
    <div class="column  padding-bottom-large">
      <a class="button medium-12 columns text-center disabled"
         (click)="goToComplexTAB()">
        <h3 class="icon icon-fileformats  white-color" data-icon="v"></h3>
        <h5 class="white-color">ComplexTab</h5>
      </a>
    </div>
    <div class="column  padding-bottom-large">
      <a class="button medium-12 columns text-center"
         (click)="goToComplexWS()">
        <h3 class="icon icon-fileformats white-color" data-icon="J"></h3>
        <h5 class="white-color">PSI-MI JSON</h5>
      </a>
    </div>
  </div>
  <button class="close-button" data-close aria-label="Close modal" type="button">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
