<div class="row" *ngIf="organism.symbol" style="text-align: center; padding-top: 20px">
  <div class="columns medium-12" style="height: 60px">
    <h5>{{organism.name}}</h5>

  </div>
  <div class="columns medium-12" style="text-align: center">
    <ng-container *ngIf="organism.symbol !== 'x'">
      <a (click)="search(organism.name)"><span class="icon icon-species" attr.data-icon="{{organism.symbol}}"></span><br>{{organism.count}}</a>
    </ng-container>
    <ng-container *ngIf="organism.symbol === 'x'">
      <a (click)="search(organism.name)"><span class="icon icon-functional" attr.data-icon="{{organism.symbol}}"></span><br>{{organism.count}}</a>
    </ng-container>
  </div>
  <div class="" style="text-align: center">
    <a class="tag" (click)="goToComplexTAB()">ComplexTab</a>
    <a class="tag" (click)="goToComplexPSI25()">PSI-XML2.5</a>
    <a class="tag" (click)="goToComplexPSI30()">PSI-XML3.0</a>
  </div>
</div>
